<!--@subject {{var fullname}} Abandoned Sale Products In Your Shopping Bag! @-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <p style="font-size:12px; line-height:16px; margin:0;">
						Dear {{var firstname}},<br />
						You have abandoned a {{var productname}} in your cart.<br/>
						
						It was {{var cartprice}} and now is {{var specialprice}}.<br/>
						
						{{depend extraproductcount}}
						Purchase the {{var extraproductcount}} other sale products in your cart and save {{var discount}} on your order.<br/>
						{{/depend}}
						
						Follow this link and log in to finalize your purchase with the new special price: {{config path="web/unsecure/base_url"}}
					</p>
				</td>
			</tr>
		</table>
    </td>
</tr>
</table>
</div>
</body>