<!--@subject {{var fullname}} Abandoned Products In Your Shopping Bag! @-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <p style="font-size:12px; line-height:16px; margin:0;">
						Dear {{var firstname}},<br />
						You have abandoned a {{var productname}} {{depend extraproductcount}} and {{var extraproductcount}} more products{{/depend}} in your cart.<br/>
						
						Follow this link and log in to finalize your purchase: {{config path="web/unsecure/base_url"}}
					</p>
				</td>
			</tr>
		</table>
    </td>
</tr>
</table>
</div>
</body>