<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?=$this->__('Update Product')?></h3></td>
            <td class="a-right">
                
            </td>
        </tr>
    </table>
</div>
<div class="entry-edit">
    <form id="edit_form" name="edit_form" method="post" action="<?=$this->getUrl('*/*/update')?>" onsubmit="return validateForm()" >
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
      
        
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?=$this->__('Set Product details here for batch update:')?></h4>
            <div class="form-buttons"></div>
        </div>
        
        
        <fieldset id="my-fieldset">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><?=$this->__('Batch Number')?> <span class="required">*</span></td>
                    <td class="input-ele"><input class="input-text" name="myform[product_batch]" id="product_batch" /></td>
                </tr>
                
                <tr>
                    <td class="label"><?=$this->__('SKU')?> </td>
                    <td class="input-ele"><input class="input-text " id="sku" name="myform[sku]" size="70" style="width:110px !important;"/></td>
                </tr>
                
                <tr>
                    <td class="label"><?=$this->__('Expire Date')?> <span class="required">*</span></td>
                    <td class="input-ele"><input class="input-text " name="myform[expiry_date]" size="70" id="expiry_date" style="width:110px !important;" /><img src="<?php echo $this->getSkinUrl().'images/grid-cal.gif'; ?>" id="calpick" /> </td>
                </tr>
                
                <tr>
                    <td class="label"><?=$this->__('Stock Quantity')?> <span class="required">*</span></td>
                    <td class="input-ele"><input class="input-text " name="myform[qty]" size="70" style="width:110px !important;"/></td>
                </tr>
                
                
                <tr>
                    <td class="label">&nbsp;</td>
                    <td class="input-ele">
                    <p class="form-buttons">
                        <button onclick="editForm.submit()" class="scalable save" type="submit" name="submit"><span><span><span>Update</span></span></span></button>
                    </p>
                    </td>
                </tr>
            </table>
            
            
            
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    var editForm = new varienForm('edit_form');
    
    Calendar.setup({
        inputField: "expiry_date",
        ifFormat: "%Y-%m-%e",
        showsTime: false,
        button: "calpick",
        align: "Bl",
        singleClick : true
        });
    
    
    function validateForm() {
        var x = document.getElementById("product_batch").value;
         var y = document.getElementById("sku").value;
        
        if ( x == "" && y=='') {
            alert("SKU or Bath No must be filled out. ");
            return false;
        }
    }
</script>
