 <div class="category-block text-center">
        <h2>About <span>S P Distributors</span> <span class="spabout">NA. LLC.</span></h2>
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_cat_text')->toHtml();?>
        <div class="cb">
            <div class="row">
                
            <?php
                /*
                 * http://fishpig.co.uk - Magento Tutorials
                 *
                 * Display top level categories
                 *
                **/
                ?>
                <?php
                /*$collection = Mage::getModel('catalog/category')->getCollection();
                $collection->addAttributeToSelect('*');
                $collection->addAttributeToFilter('is_active', 1);
                $collection->addAttributeToFilter('entity_id', array('neq' => 2));
                $collection->setPageSize(3);
                $collection->getSelect()->order('rand()');*/
                //echo $collection->count();
                $collection = Mage::getModel('catalog/product')->getCollection();
                $collection->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
             // $collection->addAttributeToFilter('type_id', array('eq' => 'configurable'));
                $collection->getSelect()->order('RAND()');
                $collection->addAttributeToFilter('status', array('eq'=>'1'));
                $collection->getSelect()->limit(3);

                   $boxcolor=array("green-color","orange-color","sky-color");
                   
                ?>
                <?php //$_categories = $_helper->getStoreCategories() ?>
                <?php if ($collection->count() > 0): ?>
                        <?php 
                        $i=0;
                        foreach($collection as $_product){
                            
                            /*if($cat->getThumbnail()){ 
                                $image= $cat->getThumbnail();
                                 echo $url = Mage::getBaseUrl('media').'catalog/category/'.$image;
                            }*/
                            
                             $product = Mage::getModel('catalog/product')->load($_product->getId());
                            $categoryIds = $_product->getCategoryIds();
                                
                            if(count($categoryIds) ){
                                $firstCategoryId = $categoryIds[1];
                                $_category = Mage::getModel('catalog/category')->load($firstCategoryId);

                                $catname=$_category->getName();
                            }

                        ?>
                        <div class="col-xs-12 col-sm-4">
                            <div class="cb-area <?php echo $boxcolor[$i]?>">
                                   <a href="<?php echo $_product->getProductUrl() ?>">
                                      
                                        <img src="<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->resize(108,143);?>" alt="<?php echo $product->getName() ?>" width="108" height="143"/>
                                   </a>
                                <a href="<?php echo $_product->getProductUrl() ?>"><h3><?php echo $product->getName() ?></h3></a>
                                <p><?php echo substr(strip_tags($product->getShortDescription()),0,100) ?>...</p>
                                
                                <a href="<?php echo $_product->getProductUrl() ?>">View More <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <?php $i++; } ?>
                    
            <?php endif; ?>    
                
        
            </div>
        </div>
        <div class="view-all text-center">
            <a href="<?php echo $this->getUrl("products")?>" >View All Products</a>
        </div>
    </div>
            <!--Cat Block-->
