<!--@subject Hi, {{var customer.name}}. You forgot checkout! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Alert!!! Your Cart Product will expire soon at www.paanmukhwas.com</h1>
            <p>To log in when visiting your cart just click <a href="{{store url="customer/account/"}}">Login</a> or <a href="{{store url="customer/account/"}}">My Account</a> at the top of every page, and then enter your email address and password.</p>
            <p class="highlighted-text">
                You have recently added new product at your cart but did not finish the checkout. We are offering you attractive discount so you can use the coupon code to get it within your budget.
            </p>
            
            <p>Please use the following coupon to checkout at our site:</p>
            <p>{{var emailcontent}}</p>
            
            
         
            <p>
                If you have any questions, please feel free to contact us at
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>
<b>
Regards,<br />
www.paanmukhwas.com
</b>