<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <p>Dear Admin, </p>
            <p>Following product will expire within 30 days: </p>
            <p class="highlighted-text">
                {{var expro}}
            </p>
            
           <p>
            
            Please login to admin backend to view the details.
           </p>
            
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
