  <?php 
$configEnableValue = Mage::getStoreConfig('testimonialsection/testisettings/activetesty');
$enableguest = Mage::getStoreConfig('testimonialsection/testisettings/enableguest');
$helper = Mage::helper('testimonial');
if($configEnableValue == 1 ):
if($enableguest == 1 ):

?>
<div id="info-testy-create" style="display:none;">
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
    <h1> <?php  echo $this->htmlEscape($this->helper('testimonial')->getTitle()) ?></h1>
</div>

<form action="<?php echo Mage::getUrl("testimonials/index/save");  ?>" id="testyForm" method="post"  enctype="multipart/form-data" class="form-horizontal">
    <div class="fieldset_popup">
        <ul class="form-list">
        
            <li class="fields">
            <?php  if($helper->isEnableContactName()):?>
                    <div class="field">
                        <label for="testimonial_name" class="required col-sm-5 col-xs-12 control-label"><em>*</em><?php echo Mage::helper('testimonial')->__('Name') ?></label>
                        <div class="input-box col-sm-7 col-xs-12">
                            <input name="testimonial_name" id="testimonial_name" title="<?php echo Mage::helper('testimonial')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('testimonial')->getUserName()) ?>" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                <?php endif;?>
            <?php  if($helper->isEnableContactEmail()):?>
                    <div class="field">
                        <label for="testimonial_email" class="required col-sm-5 col-xs-12 control-label"><em>*</em><?php echo Mage::helper('testimonial')->__('Email') ?></label>
                        <div class="input-box col-sm-7 col-xs-12">
                            <input name="testimonial_email" id="testimonial_email" title="<?php echo Mage::helper('testimonial')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('testimonial')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                        </div>
                    </div>
                </li>
            <?php endif;?>
             <li class="fields">
           <?php  if($helper->isEnableCompanyname()): ?>
              <div class="field">
                    <label for="testimonial_companyname" class="col-sm-5 col-xs-12 control-label"><?php echo Mage::helper('testimonial')->__('Comapny Name') ?></label>
                    <div class="input-box col-sm-7 col-xs-12">
                        <input name="testimonial_companyname" id="testimonial_companyname" title="<?php echo Mage::helper('testimonial')->__('Company Name') ?>" value="" class="input-text" type="text" />
                    </div>
                </div>
            
              <?php endif;?>
           <?php  if($helper->isEnableContactAddress()):?>
               <div class="field">
                    <label for="testimonial_address" class="col-sm-5 col-xs-12 control-label"><?php echo Mage::helper('testimonial')->__('Location') ?></label>
                    <div class="input-box col-sm-7 col-xs-12">
                        <input name="testimonial_address" id="testimonial_address" title="<?php echo Mage::helper('testimonial')->__('Company Location') ?>" value="" class="input-text" type="text" />
                    </div>
                </div>
           
            <?php endif;?>
           </li> 
            <li class="fields">
                <label for="testimonial_text" class="required col-sm-5 col-xs-12 control-label"><em>*</em><?php echo Mage::helper('testimonial')->__('Content') ?></label>
                <div class="input-box alignleft col-sm-7 col-xs-12">
                    <textarea name="testimonial_text" id="testimonial_text" title="<?php echo Mage::helper('testimonial')->__('Content') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                </div>
            </li>  
            <?php  if($helper->isEnableContactPhoto()):?>
            <li class="fields">
                <label for="testimonial_img" class="col-sm-5 col-xs-12 control-label"><?php echo Mage::helper('testimonial')->__('Contact Photo') ?></label>
                <div class="input-box alignleft col-sm-7 col-xs-12">
                    <input name="testimonial_img" id="testimonial_img" class="input-text" type="file" />
                </div>
          </li>
          <?php endif;?>
          
           <li class="fields">
            <div class="input-box alignleft col-sm-7 col-xs-12 col-sm-offset-4">

                 <div class="row">
                    
                    <div class="col-sm-12 clearfix"><p class="required"><?php echo Mage::helper('testimonial')->__('* Required Fields') ?></p></div>
                    <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <button type="submit" title="<?php echo Mage::helper('testimonial')->__('Submit') ?>" class="button btn-block"><span><span><?php echo Mage::helper('testimonial')->__('Submit') ?></span></span></button>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <button type="reset" class="button btn-block" value="<?php echo Mage::helper('testimonial')->__('Reset') ?>"><span><span><?php echo Mage::helper('testimonial')->__('Reset') ?></span></span></button>
                    </div>
                    </div>
                 </div>
            </div>
            </li>
        </ul>
    </div>
   
</form>
<script type="text/javascript">
//<![CDATA[
    var testyForm = new VarienForm('testyForm', true);
//]]>
</script>
</div>


<?php endif;?>
<?php endif;?>
