<?php 
$configEnableValue = Mage::getStoreConfig('testimonialsection/testisettings/activetesty');
$enableguest = Mage::getStoreConfig('testimonialsection/testisettings/enableguest');
$helper = Mage::helper('testimonial');

//echo get_class($this);
?>
<!--Testimonials-->
<div class="testimonials text-center">
	<div class="container">
    	<h2>What Client Say About Us</h2>
    	<div class="row">
            
            
            <?php $testimonials = $this->getHomeTestimonial(); 
            
            ?>
    <?php $i = 0;?>
    <?php if (count($testimonials) > 0): ?>
    <?php foreach ($testimonials as $testimonial): ?>
            
        
        	<div class="col-xs-12 col-sm-4">
            	<div class="client-thumb">
                	
                        <?php  if($helper->isEnableContactPhoto()):?>
                     
                             <?php 
                              $configHeightValue = Mage::getStoreConfig('testimonialsection/showhideform/height');
                               $configWidthValue = Mage::getStoreConfig('testimonialsection/showhideform/width');
                             ?>
                              <?php if ($testimonial->getTestimonialImg()): 
                              $resizeEndarray = explode("/",$testimonial->getTestimonialImg());

                              ?>


                                   <img class="img-circle" src="<?php echo  Mage::helper('testimonial')->resizeImage(end($resizeEndarray),$configHeightValue,$configWidthValue,'testimonials'); ?>"  alt="<?php echo $testimonial->getTestimonialName(); ?>" title="<?php echo $testimonial->getTestimonialName(); ?>" /> 



                               <?php else: ?>
                                   <img class="img-circle" src="<?php echo  $this->getSkinUrl('apt/testimonial/images/no-image.png') ?>" alt="<?php echo $testimonial->getTestimonialName(); ?>" title="<?php echo $testimonial->getTestimonialName(); ?>"  height="<?php echo $configHeightValue.'px' ;?>" width="<?php echo $configWidthValue.'px' ;?>"/> 


                              <?php endif; ?>
                          
                          <?php endif; ?>



                </div>
                <div class="testi-content">
                	<?php echo $testimonial->getTestimonialText(); ?>
                </div>
                <div class="client-desig">
                	<p><span>  <?php  if($helper->isEnableContactName()):?>     
              
                         <?php echo $testimonial->getTestimonialName(); ?>    
                     <?php endif;?> </span> 
                            
                            Software Engineer
                              <?php  if($helper->isEnableCompanyname() && $testimonial->getTestimonialCompanyname()!=''): ?>
                      
                                  <?php echo $testimonial->getTestimonialCompanyname(); ?> 

                                  <?php endif;?>
                        </p>
                </div>
            </div>
            
     <?php endforeach; ?>
    <?php endif;?>
         
        </div>
    </div>
</div>
<!--// Testimonials-->
