<?php
/* $configContactNameValue = Mage::getStoreConfig('testimonialsection/testisettings/active');
 echo $configContactNameValue;exit;*/
?>
<?php 
$configEnableValue = Mage::getStoreConfig('testimonialsection/testisettings/activetesty');
$enableguest = Mage::getStoreConfig('testimonialsection/testisettings/enableguest');
$helper = Mage::helper('testimonial');
if($configEnableValue == 1 ):
if($enableguest == 1 ):

?>

<div class="testimonials_container">
    <h1 class="testimonials_title">
         <?php  echo $this->htmlEscape($this->helper('testimonial')->getTitle()) ?>
    </h1>
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('testi_text')->toHtml() ?>
    
    
    
    
    
    
    <div class="testimonials text-center">
        <div class="container">
        
        <div class="row">
    <?php $testimonials = $this->getTestimonials(); ?>
    <?php $i = 0;?>
    <?php if (count($testimonials) > 0): ?>
    <?php foreach ($testimonials as $testimonial): ?>
    
    
   <div class="col-xs-12 col-sm-6 col-md-3 no-padding ">
            <div class="client-wrapper">
                <div class="client-thumb-pic">
                        <?php  if($helper->isEnableContactPhoto()):?>
                                
                                <?php 
                                $configHeightValue = Mage::getStoreConfig('testimonialsection/showhideform/height');
                                 $configWidthValue = Mage::getStoreConfig('testimonialsection/showhideform/width');
                               ?>
                                <?php if ($testimonial->getTestimonialImg()): 
                                $resizeEndarray = explode("/",$testimonial->getTestimonialImg());
                                
                                ?>
                                         <img src="<?php echo  Mage::helper('testimonial')->resizeImage(end($resizeEndarray),$configHeightValue,$configWidthValue,'testimonials'); ?>"  alt="<?php echo $testimonial->getTestimonialName(); ?>" title="<?php echo $testimonial->getTestimonialName(); ?>"  class="img-circle testy_img"/> 
                              
                              
                               <?php else: ?>
                                 <img src="<?php echo  $this->getSkinUrl('images/testimonial-photo.png') ?>" alt="<?php echo $testimonial->getTestimonialName(); ?>" title="<?php echo $testimonial->getTestimonialName(); ?>"  class="img-circle testy_no_img" height="<?php echo $configHeightValue.'px' ;?>" width="<?php echo $configWidthValue.'px' ;?>"/>
                                 <?php endif; ?>
              
             
            <?php endif; ?>
              
                      
                            
                            
                            
                </div>
                
                
                <div class="testi-con">
                <div class="quote"><span><?php echo substr(strip_tags($testimonial->getTestimonialText()),0,300);?></span></div>
                

                </div>
                
                <div class="client-holder">
                        <p><?php  if($helper->isEnableContactName()):?><?php echo $testimonial->getTestimonialName(); ?>  
                     <?php endif;?>
                    <span>
                    <?php  if($helper->isEnableContactEmail()&& $testimonial->getTestimonialEmail()!=''):?>
                          <a href="mailto:<?php echo $testimonial->getTestimonialEmail(); ?>">
                            <?php echo $testimonial->getTestimonialEmail(); ?></a>
            <?php endif;?>
            
                    </span>
                        
                     <span>   
                        <?php  if($helper->isEnableCompanyname() && $testimonial->getTestimonialCompanyname()!=''): ?>
                        <img src="<?php echo $this->getSkinUrl('apt/testimonial/images/company_icon.png')?>" width="20" height="20" /> 
                        <?php echo $testimonial->getTestimonialCompanyname(); ?>
                         
                  <?php endif;?>
                     </span>
                     <span> 
                     <?php  if($helper->isEnableContactAddress()&& $testimonial->getTestimonialAddress()!=''):?>
                  <img src="<?php echo $this->getSkinUrl('apt/testimonial/images/location_icon.png')?>" width="20" height="20" /> 
                 <?php echo $testimonial->getTestimonialAddress(); ?>
             <?php endif;?>
                      </span></p>
                </div>
                </div>
            </div>
    
    
   
    <?php endforeach; ?>
    <?php endif;?>
    </div>                       
        </div>
</div>
     
                 
     <?php $configContactNameValue = Mage::getStoreConfig('testimonialsection/testisettings/allowpagination');
                    if($configContactNameValue == 1):  ?>     
       <div class="testy_paging">
                    <?php echo $this->getPagerHtml(); ?>
            </div>
     <?php endif;?>
</div>



<script>
jQuery(document).ready(function(){
    // hide #back-top first
    jQuery("#back-top").hide();
    // fade in #back-top
    jQuery(function () {
        jQuery(window).scroll(function () {
            if (jQuery(this).scrollTop() > 100) {
                jQuery('#back-top').fadeIn();
            } else {
                jQuery('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        jQuery('#back-top').click(function () {
           jQuery('body,html').animate({
                scrollTop: 0
            }, 1500);
            return false;
        });
    });
});
</script>




<!--
  <div class="col-md-12">
          <div class="view-all text-center">
           <a id="testy-create" class="fancybox" onclick='jQuery.fancybox({"href" : "#info-testy-create",scrolling: "no", afterClose: function() { jQuery("div").remove(".validation-advice"); jQuery("div.input-box input,div.input-box textarea").removeClass("validation-failed"); } });' title="<?php echo Mage::helper('testimonial')->__('Add Testimonial') ?>" href="javascript:void(0)"><?php echo Mage::helper('testimonial')->__('Add Testimonial') ?></a>
           </div>
            </div>
  -->
  
<div id="info-testy-create" style="display:none;min-width:700px;min-height:400px;">
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
    <h1> <?php  echo $this->htmlEscape($this->helper('testimonial')->getTitle()) ?></h1>
</div>

<form action="<?php echo $this->getFormAction();  ?>" id="testyForm" method="post"  enctype="multipart/form-data">
    <div class="fieldset_popup">
        <ul class="form-list">
        
            <li class="fields">
            <?php  if($helper->isEnableContactName()):?>
                    <div class="field">
                        <label for="testimonial_name" class="required"><em>*</em><?php echo Mage::helper('testimonial')->__('Name') ?></label>
                        <div class="input-box">
                            <input name="testimonial_name" id="testimonial_name" title="<?php echo Mage::helper('testimonial')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('testimonial')->getUserName()) ?>" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                <?php endif;?>
            <?php  if($helper->isEnableContactEmail()):?>
                    <div class="field">
                        <label for="testimonial_email" class="required"><em>*</em><?php echo Mage::helper('testimonial')->__('Email') ?></label>
                        <div class="input-box">
                            <input name="testimonial_email" id="testimonial_email" title="<?php echo Mage::helper('testimonial')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('testimonial')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                        </div>
                    </div>
                </li>
            <?php endif;?>
             <li class="fields">
           <?php  if($helper->isEnableCompanyname()): ?>
              <div class="field">
                    <label for="testimonial_companyname"><?php echo Mage::helper('testimonial')->__('Comapny Name') ?></label>
                    <div class="input-box">
                        <input name="testimonial_companyname" id="testimonial_companyname" title="<?php echo Mage::helper('testimonial')->__('Company Name') ?>" value="" class="input-text" type="text" />
                    </div>
                </div>
            
              <?php endif;?>
           <?php  if($helper->isEnableContactAddress()):?>
               <div class="field">
                    <label for="testimonial_address"><?php echo Mage::helper('testimonial')->__('Location') ?></label>
                    <div class="input-box">
                        <input name="testimonial_address" id="testimonial_address" title="<?php echo Mage::helper('testimonial')->__('Company Location') ?>" value="" class="input-text" type="text" />
                    </div>
                </div>
           
            <?php endif;?>
           </li> 
            <li class="wide">
                <label for="testimonial_text" class="required"><em>*</em><?php echo Mage::helper('testimonial')->__('Content') ?></label>
                <div class="input-box alignleft">
                    <textarea name="testimonial_text" id="testimonial_text" title="<?php echo Mage::helper('testimonial')->__('Content') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                </div>
            </li>  
            <?php  if($helper->isEnableContactPhoto()):?>
            <li class="fields">
                <label for="testimonial_img"><?php echo Mage::helper('testimonial')->__('Contact Photo') ?></label>
                <div class="input-box alignleft">
                    <input name="testimonial_img" id="testimonial_img" class="input-text" type="file" />
                </div>
          </li>
          <?php endif;?>
            
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo Mage::helper('testimonial')->__('* Required Fields') ?></p>
        <button type="submit" title="<?php echo Mage::helper('testimonial')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('testimonial')->__('Submit') ?></span></span></button>
        <button type="reset" class="button" value="<?php echo Mage::helper('testimonial')->__('Reset') ?>"><span><span><?php echo Mage::helper('testimonial')->__('Reset') ?></span></span></button>
        
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var testyForm = new VarienForm('testyForm', true);
//]]>
</script>
</div>



<?php endif;?>
<?php endif;?>
<a  id='back-top' href="#top"><img src="<?php echo $this->getSkinUrl("images/top.png") ?>" alt="top" title="<?php echo $this->__('Back to Top')?>" /></a>