<?php
$banners=$this->getCollection();
//echo $banners->count();
?>
<div class="flexslider">
        <ul class="slides">
        <?php foreach($banners as $slider){ ?>
          <li><img src="<?php echo $this->resizeImg($slider->getImage(),600,400)?>" width="" height="" alt="<?php echo $slider->getTitle(); ?>"/></li>
        <?php }?>
        </ul>
</div>
    
<script>
jQuery( document ).ready(function() {
   jQuery('.flexslider').flexslider({
    animation: "slide",
    slideshow: true,
    directionNav: false
  });
});
</script>