<ul>
    <?php
    $i=1;
    foreach ($this->getItems() as $_item): ?>
        <li>
            <?php if ($_item->getCount() > 0): ?>
                <a href="<?php echo ($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl() ?>">
                    <input type="checkbox"<?php if ($_item->isSelected()): ?> checked="checked" <?php endif; ?> class="regular-checkbox"  id="checkbox-<?php echo $i?>"/>
                    <label for="checkbox-<?php echo $i?>"></label>
                    <?php echo $_item->getLabel() ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count"><?php echo "(".$_item->getCount().")" ?></span>
                    <?php endif; ?>
                    
                    
                </a>
            <?php else: ?>
                <span>
                    <?php echo $_item->getLabel(); ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $_item->getCount() ?>)</span>
                    <?php endif; ?>
                </span>
            <?php endif; ?>
        </li>
    <?php
    $i++;
    endforeach; ?>
</ul>