<?php
$banners=$this->getCollection();
//echo $banners->count();
?>
<div class="banner-container">
    <div class="owl-carousel home-banner">
        <?php foreach($banners as $slider){ ?>
        <div class="item"><img src="<?php echo $this->resizeImg($slider->getImage(),1600,524)?>" width="" height="" alt="<?php echo $slider->getTitle(); ?>"/></div>
        <?php }?>
    </div>
</div>
<script>
jQuery( document ).ready(function() {
  jQuery(".home-banner").owlCarousel({
		  navigation : false,
		  pagination : true,
		  slideSpeed : 300,
		  paginationSpeed : 400,
		  singleItem : true,
		  autoPlay:true
      });      
 });       
</script>