<?php
$collection = Mage::getModel('catalog/product')->getCollection();
$collection->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
$collection->addFieldToFilter('is_featured', '1')->addAttributeToFilter('status', array('eq'=>'1'));
//echo $collection->count();
if($collection->count() > 0){
?>
<div class="wooden-bg">
    <div class="container">
<div class="featured-products text-center">
<h2>Featured Products</h2>
 <div id="loading" class="please-wait" style="display: none;">
    <img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
</div> 
<div class="featured-slider">  
<?php
foreach ($collection as $product)
{
    $_product = Mage::getModel('catalog/product')->load($product->getId());
    ?>
   
    <div class="item">
	    <div class="featured-thumb">
		<a href="<?php echo $_product->getProductUrl() ?>">
		<img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(197,135);?>" alt=""/>
		</a>
	    </div>
	    <div class="featured-title text-uppercase"><?php echo $_product->getName() ?></div>
	    <div class="featured-desc"><?php echo $_product->getShortDescription(); ?></div>
	    <div class="featured-desc"><?php echo $_product->getSku(); ?></div>
	   <div class="featured-price"><?php echo Mage::helper('core')->currency($_product->getPrice()) ?></div>
	    <div class="featured-btn text-uppercase">
	    <?php if($_product->isSaleable() && !$_product->canConfigure()): ?>
                    <a title="<?php echo $this->__('Add to Cart') ?>"  pid="<?php echo $_product->getId(); ?>" url="<?php echo Mage::helper('checkout/cart')->getAddUrl($_product); ?>" class="btn-group addtocart" title="<?php echo $this->__('Add to Cart') ?>">
		<button type="button" class="btn"><i class="fa fa-shopping-cart"></i></button>
		<button class="btn">Add to Cart</button>
	    </a>
	    <?php elseif($_product->isSaleable()): ?>
		
			
	    <a title="<?php echo $this->__('Add to Cart') ?>"  pid="<?php echo $_product->getId() ?>" href="<?php echo $_product->getProductUrl() ?>" class="btn-group " title="<?php echo $this->__('Add to Cart') ?>">
		<button type="button" class="btn"><i class="fa fa-shopping-cart"></i></button>
		<button class="btn">Add to Cart</button>
	    </a>
	    
	    
            <?php else: ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
             <?php endif; ?>
	    
	    </div>
    </div>
   
     
<?php }

?>
</div>
</div>

</div>
</div>
<?php }?>
<script>
jQuery( document ).ready(function() {
  jQuery(".featured-slider").owlCarousel({
		  navigation : true,
		  pagination : false,
		  slideSpeed : 300,
		  paginationSpeed : 400,
		  items : 3,
		  itemsDesktop : [1199,3],
		  itemsDesktopSmall : [979,3],
		  itemsTablet : [768,2],
		  itemsMobile :	[479,1]
      });      
 });
</script>