div.price-slider {
    background: url("../../images/price_slider/bkg_slider.png") repeat-x scroll 0 0 transparent;
    height: 17px;
	margin:18px 0 0 0;
}
div.price-slider .filter-handle {
    height: 17px;
    width: 10px;
    cursor: e-resize;
    display: block;
}
div.price-slider .price-slider-from {
    background: url("../../images/price_slider/slider.png") no-repeat scroll 0 0 transparent;
	left:0;
		margin:0 0 0 -2px;
}
div.price-slider .price-slider-to {
    background: url("../../images/price_slider/slider.png") no-repeat scroll -26px 0 transparent;
    cursor: w-resize;
	right:0;
	margin:-17px 0 0 1px;

}
#priceminandmaxcontainer
{
	margin:0;
	padding:0;
	width:auto;
	overflow:hidden;
}
#price-min-display
{
	width:auto;
	float:left;
	display:block;
	margin:0;
padding:0;
}
#price-max-display
{
	width:auto;
	float:left;
	display:block;
		margin:0;
		padding:0;
}