<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
<?php
$package = Mage::getDesign()->getPackageName();
$theme = Mage::getDesign()->getTheme('frontend');
?>

 <div class="checkout"> 
  <div class="opc-wrapper-opc design_package_<?php echo $package;?> design_theme_<?php echo $theme;?>">   
            <h1><?php echo $this->__('Checkout')?></h1>
            <p><?php echo $this->__('Fill in the Fields below to complete your purchase!')?></p>
            <hr/>
	<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()):?>
		<?php echo $this->getChildHtml('login');?>
	<?php else:?>
	<style>
			.country-sort-1{
				
				width:90% !important;
			}
			.control {margin-left: 0%;}
			
		</style>
	<?php endif;?>
	<div class="clear"></div>
	
	<div >
		<form id="opc-address-form-billing" method="post">
        	<?php echo $this->getChildHtml('billing')?>
		</form>
			
		<form id="opc-address-form-shipping" class="hidden" method="post">
		<?php echo $this->getChildHtml('shipping')?>
		</form>
	</div>
	
	<div class="col-md-12 nopadding ">
		<div class="col-md-6 nopadding">
			
			<?php if (!$this->getOnepage()->getQuote()->isVirtual()):?>
			<div class="shipping-block">
			<h2><?php echo $this->__('Shipping Method')?></h2>
			<div id="shipping-block-methods">
					<?php echo $this->getChildHtml('shipping_method');//$this->_getShippingMethodsHtml();?>
				</div>
			</div>
			<?php endif;?>
			<div class="col-md-12 nopadding">
				<div class="paymethod">
				<h2><?php echo $this->__('Payment Method')?></h2>
				<?php echo $this->getChildHtml('payment')//$this->_getPaymentMethodsHtml();?>
				</div>
				<div class="discount-block discount_code">
				
				
				<?php echo $this->getChildhtml('coupon');?>
				
				</div>
	
			<?php if(Mage::helper('opc')->isShowComment()):?>
				<?php echo $this->getChildhtml('customer.comment');?>
			<?php endif;?>
		
		
			</div>
			
			
		</div>
		<div class="col-md-6 nopadding">
				 <h3><?php echo $this->__('Review Your Order')?></h3>
				<div id="opc-review-block" class="order-review">
					
					<?php echo $this->_getReviewHtml()?>
					
				</div>
		</div>
		
	</div>


 </div>
</div>

<!--<div class="opc-wrapper-opc design_package_<?php echo $package;?> design_theme_<?php echo $theme;?>">
	
	

    <div class="opc-col-left">
	
		
    </div>

    <div class="opc-col-center">
    	

    </div>

    <div class="opc-col-right">
       
    </div>
</div>-->





<script>
	var vopc = '<?php echo Mage::getConfig()->getModuleConfig("IWD_Opc")->version;?>';
	IWD.OPC.Checkout.config = '<?php echo $this->getJsonConfig()?>';
	<?php if ($this->getOnepage()->getQuote()->isVirtual()):?>
	IWD.OPC.Checkout.isVirtual = true;
	<?php endif;?>	 
</script>

<div class="opc-ajax-loader">
	<div id="floatingCirclesG">
		<div class="f_circleG" id="frotateG_01"></div>
		<div class="f_circleG" id="frotateG_02"></div>
		<div class="f_circleG" id="frotateG_03"></div>
		<div class="f_circleG" id="frotateG_04"></div>
		<div class="f_circleG" id="frotateG_05"></div>
		<div class="f_circleG" id="frotateG_06"></div>
		<div class="f_circleG" id="frotateG_07"></div>
		<div class="f_circleG" id="frotateG_08"></div>
	</div>
</div>
<div class="opc-message-wrapper design_package_<?php echo $package;?> design_theme_<?php echo $theme;?>">
	
	<div class="opc-messages">
		<a class="close-message-wrapper"></a>
		<div class="opc-message-container"></div>
		<div class="opc-messages-action"><button class="button"><span><span><?php echo $this->__('Close')?></span></span></button></div>
	</div>
</div>