<!--Testimonials-->
<div class="testimonials text-center">
	<div class="container">
    	<h2>What Client Say About Us</h2>
    	<div class="row">
        	<div class="col-xs-12 col-sm-4">
            	<div class="client-thumb">
                	<img src="images/client-01.jpg" alt="" class="img-circle">
                </div>
                <div class="testi-content">
                	<p>“Lorem ipsum dolor sit amet, consectetur adipiselit. Donec luctus ex volutpat, posuere sem eget, lacinia libero. Proin sodales ante leo, vel aliquam lectus dignissim vel.”</p>
                </div>
                <div class="client-desig">
                	<p><span>Luke Right</span> Software Engineer</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
            	<div class="client-thumb">
                	<img src="images/client-02.jpg" alt="" class="img-circle">
                </div>
                <div class="testi-content">
                	<p>“Lorem ipsum dolor sit amet, consectetur adipiselit. Donec luctus ex volutpat, posuere sem eget, lacinia libero. Proin sodales ante leo, vel aliquam lectus dignissim vel.”</p>
                </div>
                <div class="client-desig">
                	<p><span>Luke Right</span> Software Engineer</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
            	<div class="client-thumb">
                	<img src="images/client-03.jpg" alt="" class="img-circle">
                </div>
                <div class="testi-content">
                	<p>“Lorem ipsum dolor sit amet, consectetur adipiselit. Donec luctus ex volutpat, posuere sem eget, lacinia libero. Proin sodales ante leo, vel aliquam lectus dignissim vel.”</p>
                </div>
                <div class="client-desig">
                	<p><span>Luke Right</span> Software Engineer</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Testimonials-->
