<form id="opc-discount-coupon-form" action="<?php echo $this->getUrl('checkout/cart/couponPost') ?>" method="post">
    <div class="discount">
        <h2 for="coupon_code"><?php echo $this->__('Enter your discount code:') ?></h2>            
        <div class="discount-form">
            
            <div class="input-box">
                <input class="input-text" id="coupon_code" type="text" name="coupon_code" value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" autocomplete="off"/>
            </div>
            <div class="dicount-button">
                <input type="button" title="<?php echo $this->__('Apply') ?>" class="apply_button apply-coupon"  value="<?php echo $this->__('Apply') ?>" />
                <?php if(strlen($this->getCouponCode())): ?>
                    &nbsp; <input type="button" title="<?php echo $this->__('Cancel') ?>" class="remove-coupon right"  value="<?php echo $this->__('Cancel') ?>" />
                <?php endif;?>
            </div>
            
            
        </div>
    </div>
</form>