<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<?php if (!$this->getRequest()->isAjax()): ?>
<div id="ajax-errors" style="display: none;">
    <ul class="messages">
        <li class="error-msg">
            <ul>
                <li><span><?php echo $this->__('An error occurred, please try again later.'); ?></span></li>
            </ul>
        </li>
    </ul>
</div>
<div id="loading" class="please-wait" style="display: none;">
    <img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
</div>
<div id="catalog-listing">
<?php endif; ?>
<?php if ($this->getRequest()->isAjax()): ?>
    

<script>
    jQuery(document).ready(function() {
  // jQuery("#narrow-by-list").accordion();
   

  
     if (jQuery('.col-left-first > .block').length && jQuery('.category-products').length) {
        enquire.register('screen and (max-width: ' + bp.medium + 'px)', {
            match: function () {
                jQuery('.col-left-first').insertBefore(jQuery('.category-products'))
            },
            unmatch: function () {
                // Move layered nav back to left column
                jQuery('.col-left-first').insertBefore(jQuery('.col-main'))
            }
        });
    }
   
   
     jQuery('.toggle-content').each(function () {
        var wrapper = jQuery(this);

        var hasTabs = wrapper.hasClass('tabs');
        var hasAccordion = wrapper.hasClass('accordion');
        var startOpen = wrapper.hasClass('open');

        var dl = wrapper.children('dl:first');
        var dts = dl.children('dt');
        var panes = dl.children('dd');
        var groups = new Array(dts, panes);

        //Create a ul for tabs if necessary.
        if (hasTabs) {
            var ul = jQuery('<ul class="toggle-tabs"></ul>');
            dts.each(function () {
                var dt = jQuery(this);
                var li = jQuery('<li></li>');
                li.html(dt.html());
                ul.append(li);
            });
            ul.insertBefore(dl);
            var lis = ul.children();
            groups.push(lis);
        }

        //Add "last" classes.
        var i;
        for (i = 0; i < groups.length; i++) {
            groups[i].filter(':last').addClass('last');
        }

        function toggleClasses(clickedItem, group) {
            var index = group.index(clickedItem);
            var i;
            for (i = 0; i < groups.length; i++) {
                groups[i].removeClass('current');
                groups[i].eq(index).addClass('current');
            }
        }

        //Toggle on tab (dt) click.
        dts.on('click', function (e) {
            //They clicked the current dt to close it. Restore the wrapper to unclicked state.
            if (jQuery(this).hasClass('current') && wrapper.hasClass('accordion-open')) {
                wrapper.removeClass('accordion-open');
            } else {
                //They're clicking something new. Reflect the explicit user interaction.
                wrapper.addClass('accordion-open');
            }
            toggleClasses(jQuery(this), dts);
        });

        //Toggle on tab (li) click.
        if (hasTabs) {
            lis.on('click', function (e) {
                toggleClasses(jQuery(this), lis);
            });
            //Open the first tab.
            lis.eq(0).trigger('click');
        }

        //Open the first accordion if desired.
        if (startOpen) {
            dts.eq(0).trigger('click');
        }

    });
     
      });
      
      
      
        jQuery('.addtocart2').click(function(event){
			event.preventDefault();
			
			var url = jQuery(this).attr('url');
                        var pid = jQuery(this).attr('pid');

                        var addcartblock= jQuery(this);
			jQuery("#loading").show();
                        
                       
					/*jQuery('html, body').animate({scrollTop:0}, 'slow');*/
				
					jQuery.ajax({
							url: url,
							dataType: 'json',
							type : 'post',
                                                        data :'qty=1&product='+pid,
						    success: function(data){
							
                                                           
                                                        var cart = jQuery('.skip-link');
								             var imgtodrag = jQuery(addcartblock).parent().parent().parent().find("img").eq(0);
                                                                            // alert(jQuery(imgtodrag).attr("src"));
                                                                            // alert(jQuery(addcartblock).attr("class"));
                                                                            // alert(jQuery(imgtodrag).attr("class"));
								             if (imgtodrag && data.status=='added') {
								                 var imgclone = imgtodrag.clone()
								                     .offset({
								                     top: imgtodrag.offset().top,
								                     left: imgtodrag.offset().left
								                 })
								                     .css({
								                     'opacity': '0.5',
								                         'position': 'absolute',
								                         'height': '477px',
								                         'width': '357px',
								                         'z-index': '1033'
								                 })
								                     .appendTo(jQuery('body'))
								                     .animate({
								                     'top': cart.offset().top + 10,
								                         'left': cart.offset().left + 10,
								                         'width': 75,
								                         'height': 75
								                 }, 1000, 'easeInOutExpo');
								                 
								                 /*setTimeout(function () {
								                     
								                     cart.effect("shake", {
								                         times: 2
								                     }, 200);
								                    
								                    
								                 }, 1500);*/
                                                                                jQuery(".count").html(data.count);
                                                                                
                                                                               jQuery(cart).addClass("skip-active");
                                                                               jQuery(cart).next().hide();
                                                                               jQuery(cart).next().addClass("skip-active");
                                                                               jQuery(cart).next().slideDown("slow");
                                                                               jQuery("#header-cart").html(data.content);
								                 imgclone.animate({
								                     'width': 0,
								                         'height': 0
								                 }, function () {
								                     jQuery(this).detach();
								                 });
                                                                                 
                                                                                 
							
									
									}
							
					
						
                                                        //alert("Product is added to cart successfully.");
                                                         jQuery("#loading").hide();
                                                        }
					
                                                });
                                       
       });
	   
	   jQuery('.addtocart').click(function(event){
			event.preventDefault();
			
			var url = jQuery(this).attr('url');
                        var pid = jQuery(this).attr('pid');
                        var addcartblock= jQuery(this);
			jQuery("#loading").show();
                        
                       
					/*jQuery('html, body').animate({scrollTop:0}, 'slow');*/
				
					jQuery.ajax({
							url: url,
							dataType: 'json',
							type : 'post',
                                                        data :'qty=1&product='+pid,
						    success: function(data){
							
                                                           
                                                        var cart = jQuery('.skip-link');
								             var imgtodrag = jQuery(addcartblock).parent().parent().parent().find("img").eq(0);
                                                                            // alert(jQuery(imgtodrag).attr("src"));
                                                                            // alert(jQuery(addcartblock).attr("class"));
                                                                            // alert(jQuery(imgtodrag).attr("class"));
								             if (imgtodrag && data.status=='added') {
								                 var imgclone = imgtodrag.clone()
								                     .offset({
								                     top: imgtodrag.offset().top,
								                     left: imgtodrag.offset().left
								                 })
								                     .css({
								                     'opacity': '0.5',
								                         'position': 'absolute',
								                         'height': '477px',
								                         'width': '357px',
								                         'z-index': '1033'
								                 })
								                     .appendTo(jQuery('body'))
								                     .animate({
								                     'top': cart.offset().top + 10,
								                         'left': cart.offset().left + 10,
								                         'width': 75,
								                         'height': 75
								                 }, 1000, 'easeInOutExpo');
								                 
								                 /*setTimeout(function () {
								                     
								                     cart.effect("shake", {
								                         times: 2
								                     }, 200);
								                    
								                    
								                 }, 1500);*/
                                                                                jQuery(".count").html(data.count);
                                                                                
                                                                               jQuery(cart).addClass("skip-active");
                                                                               jQuery(cart).next().hide();
                                                                               jQuery(cart).next().addClass("skip-active");
                                                                               jQuery(cart).next().slideDown("slow");
                                                                               jQuery("#header-cart").html(data.content);
								                 imgclone.animate({
								                     'width': 0,
								                         'height': 0
								                 }, function () {
								                     jQuery(this).detach();
								                 });
                                                                                 
                                                                                 
							
									
									}
							
					
						
                                                        //alert("Product is added to cart successfully.");
                                                         jQuery("#loading").hide();
                                                        }
					
                                                });
                                       
       });
</script>
<?php endif; ?>

    <div class="category-products ">
        <?php echo $this->getToolbarHtml() ?>
        <?php // List mode ?>
        <?php if($this->getMode()!='grid'): ?>
            <?php $_iterator = 0; ?>
            <ul class="products-list" id="products-list">
                <?php foreach ($_productCollection as $_product): ?>
                    <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
                        <?php // Product Image ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                            <?php /* Based on the native RWD styling, product images are displayed at a max of ~400px wide when viewed on a
                        one column page layout with four product columns from a 1280px viewport. For bandwidth reasons,
                        we are going to serve a 300px image, as it will look fine at 400px and most of the times, the image
                        will be displayed at a smaller size (eg, if two column are being used or viewport is smaller than 1280px).
                        This $_imgSize value could even be decreased further, based on the page layout
                        (one column, two column, three column) and number of product columns. */ ?>
                            <?php $_imgSize = 300; ?>
                            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                 
                          
                        </a>
                        <?php // Product description ?>
                        <div class="product-shop">
                            <div class="f-fix">
                                <div class="product-primary">
                                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                                    <?php /*if($_product->getRatingSummary()): ?>
                                        <?php echo $this->getReviewsSummaryHtml($_product) ?>
                                    <?php endif;*/ ?>

                                    <?php
                                    $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                    foreach($_nameAfterChildren as $_nameAfterChildName):
                                        $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                        $_nameAfterChild->setProduct($_product);
                                        ?>
                                        <?php echo $_nameAfterChild->toHtml(); ?>
                                    <?php endforeach; ?>
                                </div>
                                <div class="product-secondary">
                                     <?php //echo $this->getPriceHtml($_product, true) ;
                                            // $price=$this->getPrice($_product);
                                            $product = Mage::getModel('catalog/product')->load($_product->getId());
                                            if($product->getTypeId()=='simple'){
                                                echo $this->getPriceHtml($_product, true) ; 
                                             }else{ 
                                             
                                             $block = Mage::app()->getLayout()->createBlock('catalog/product_view_type_configurable');
                                             $block->setProduct($product);
                                             $config = json_decode($block->getJsonConfig(), true);
                                             $basePrice = $config['basePrice'];
                                             $min = null;
                                             $max = null;
                                             foreach ($config['attributes'] as $aId=>$aValues){
                                                 foreach ($aValues['options'] as $key=>$value){
                                                     if (is_null($min) || $min>$value['price']){
                                                         $min = $value['price'];
                                                     }
                                                     if (is_null($max) || $max<$value['price']){
                                                         $max = $value['price'];
                                                     }
                                                 }
                                             }
                                             //until here we have the min and max price differences. Now just add the base price.
                                             $min += $basePrice;
                                             $max += $basePrice;
                                             
                                             ?>
                                             <div class="price-box"><span class="regular-price">
                                             <?php  echo Mage::helper('core')->currency($min); ?>    
                                             </span></div>
                                            <?php }?>
                                </div>
                       
                               
                               <div class="icon-set">    
                                <?php if($_product->isSaleable() && !$_product->canConfigure()): ?>
                                    <a class=" addtocart" pid="<?php echo $_product->getId(); ?>" url="<?php echo $this->getAddToCartUrl($_product) ?>">
                                    <img src="<?php echo $this->getSkinUrl("images/cart-icon.jpg")?>" width="30" height="30" alt="add to cart" title="Add to cart" />
                                   </a>
                                    
                                <?php elseif($_product->isSaleable()): ?>
                                    <a title="<?php echo $this->__('View Details') ?>" class="" href="<?php echo $_product->getProductUrl() ?>">
                                    <img src="<?php echo $this->getSkinUrl("images/cart-icon.jpg")?>" width="30" height="30" alt="add to cart" title="Add to cart" />
                                    </a>
                                <?php else: ?>
                                   <!-- <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>-->
                                <?php endif; ?>
                                
                                
                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                        <a title="<?php echo $this->__('Add to Wishlist') ?>"  href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="btn2">
                                            
                                             <img src="<?php echo $this->getSkinUrl("images/wishlist-icon.jpg")?>" width="30" height="30" title="<?php echo $this->__('Add to Wishlist') ?>">
                                        </a>
                                    <?php endif; ?>
                                    <?php /*if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                        <a title="<?php echo $this->__('Add to Compare') ?>"  href="<?php echo $_compareUrl ?>" class="btn3"></a>
                                    <?php endif; */?>
                            </div>  
                               
                              
                               
                            </div>
                            
                        </div>
                         
                                   
                                
                     <div class="list-description">
                                  <p>  <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                                    </p>
                                </div>
                       
                         
                         
                    </li>
                <?php endforeach; ?>
            </ul>
            <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

        <?php else: ?>

        <?php // Grid Mode ?>

        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount(); ?>
            <div class="row">
            <div class="products-grid">
              <ul>  
                <?php $i=0; foreach ($_productCollection as $_product): ?>
                   
                    <li >
                       <div class="product-image">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="image">
                            <?php $_imgSize = 210; ?>
                            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                
                        </a>
                       </div>
                            <div class="name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true)?>"><?php  if(strlen($_product->getName())>20){
                                echo  $_helper->productAttribute($_product, substr($_product->getName(),0,15) , 'name')."...";
                                }else{
                                     echo $_helper->productAttribute($_product, substr($_product->getName(),0,20) , 'name');
                                }?></a></div>

                            <?php
                            $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                            foreach($_nameAfterChildren as $_nameAfterChildName):
                                $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                $_nameAfterChild->setProduct($_product);
                                ?>
                                <?php echo $_nameAfterChild->toHtml(); ?>
                            <?php endforeach; ?>

                            <?php 
                           // $price=$this->getPrice($_product);
                            $product = Mage::getModel('catalog/product')->load($_product->getId());
                            if($product->getTypeId()=='simple'){
                               echo $this->getPriceHtml($_product, true) ; 
                            }else{
                            
                           
                            $block = Mage::app()->getLayout()->createBlock('catalog/product_view_type_configurable');
                            $block->setProduct($product);
                            $config = json_decode($block->getJsonConfig(), true);
                            $basePrice = $config['basePrice'];
                            $min = null;
                            $max = null;
                            foreach ($config['attributes'] as $aId=>$aValues){
                                foreach ($aValues['options'] as $key=>$value){
                                    if (is_null($min) || $min>$value['price']){
                                        $min = $value['price'];
                                    }
                                    if (is_null($max) || $max<$value['price']){
                                        $max = $value['price'];
                                    }
                                }
                            }
                            //until here we have the min and max price differences. Now just add the base price.
                            $min += $basePrice;
                            $max += $basePrice;

                            
                            ?>
                            <div class="price-box"><span class="regular-price">
                            <?php  echo Mage::helper('core')->currency($min); ?>    
                            </span></div>
                            <?php }?>
                            
                            <?php if($_product->getRatingSummary()): ?>
                                <?php //echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                            <?php endif; ?>
                          <?php if($_product->getWeight()){ ?>
                          <div class="weight"> <a href="<?php echo $_product->getProductUrl() ?>"><?php echo $_product->getWeight() ?> GMS</a> </div>
                          <?php }?>
                                
                            <div class="icon-set">    
                                <?php if($_product->isSaleable() && !$_product->canConfigure()): ?>
                                    <a class=" addtocart" pid="<?php echo $_product->getId(); ?>" url="<?php echo $this->getAddToCartUrl($_product) ?>">
                                    <img src="<?php echo $this->getSkinUrl("images/cart-icon.jpg")?>" width="30" height="30" alt="add to cart" title="Add to cart" />
                                   </a>
                                    
                                <?php elseif($_product->isSaleable()): ?>
                                    <a title="<?php echo $this->__('View Details') ?>" class="" href="<?php echo $_product->getProductUrl() ?>">
                                    <img src="<?php echo $this->getSkinUrl("images/cart-icon.jpg")?>" width="30" height="30" alt="add to cart" title="Add to cart" />
                                    </a>
                                <?php else: ?>
                                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                <?php endif; ?>
                                
                                
                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                        <a title="<?php echo $this->__('Add to Wishlist') ?>"  href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="btn2">
                                            
                                             <img src="<?php echo $this->getSkinUrl("images/wishlist-icon.jpg")?>" width="30" height="30" title="<?php echo $this->__('Add to Wishlist') ?>">
                                        </a>
                                    <?php endif; ?>
                                    <?php /*if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                        <a title="<?php echo $this->__('Add to Compare') ?>"  href="<?php echo $_compareUrl ?>" class="btn3"></a>
                                    <?php endif; */?>
                                    <div class="clearfix"></div>
                            </div>  
                      
                    </li>
                    
                <?php endforeach ?>
              </ul>
            </div>
            </div>
            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
        <?php endif; ?>

        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>

<?php if (!$this->getRequest()->isAjax()): ?>
</div>
<?php endif; ?>
<?php endif; ?>

<?php
//set product collection on after blocks
$_afterChildren = $this->getChild('after')->getSortedChildren();
foreach($_afterChildren as $_afterChildName):
    $_afterChild = $this->getChild('after')->getChild($_afterChildName);
    $_afterChild->setProductCollection($_productCollection);
    ?>
    <?php echo $_afterChild->toHtml(); ?>
<?php endforeach; ?>

<script type="text/javascript">
    //<![CDATA[
    <?php if ($this->helper('catalin_seo')->isAjaxEnabled()): ?>
    CatalinSeoHandler.isAjaxEnabled = true;
    <?php endif; ?>
    CatalinSeoHandler.bindListeners();
    //]]>
</script>