<div style="display:none;">
<?php
 $id=$this->getRequest()->getParam('id');
//$customerData = Mage::getModel('customer/customer')->load($id)->getData();  
$collection = Mage::getResourceModel('reports/quote_collection')->load($id);
$collection->addFieldToFilter("main_table.entity_id",$id);
//$collection->where("entity_id",$id);
        $collection->prepareForAbandonedReport(array(1));

$cartdata=$collection->getData();      
?>
</div>
<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?=$this->__('Send Mail for Abandon cart')?></h3></td>
            <td class="a-right">
                
            </td>
        </tr>
    </table>
</div>
<div class="entry-edit">
    <form id="edit_form" name="edit_form" method="post" action="<?=$this->getUrl('*/*/sendemail')?>">
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
       <input name="customer_id" type="hidden" value="<?php echo $cartdata[0]['customer_id'] ?>" />
        
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?=$this->__('Set email details here:')?></h4>
            <div class="form-buttons"></div>
        </div>
        
        
        <fieldset id="my-fieldset">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><?=$this->__('Customer Email')?> <span class="required">*</span></td>
                    <td class="input-ele"><input class="input-text required-entry" name="myform[email]" value="<?php echo $cartdata[0]['customer_email'] ?>"/></td>
                </tr>
                
                <tr>
                    <td class="label"><?=$this->__('Subject')?> <span class="required">*</span></td>
                    <td class="input-ele"><input class="input-text required-entry" name="myform[subject]" size="70" /></td>
                </tr>
                
                <tr>
                    <td class="label"><?=$this->__('Email Details')?> <span class="required">*</span></td>
                    <td class="input-ele">
                      <textarea name="myform[contents]" id="mailcontent" >
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <h1>Alert!!! Your Cart Product will expire soon at www.paanmukhwas.com</h1>
                                    <p>To log in when visiting your cart just click <a href="{{store url="customer/account/"}}">Login</a> or <a href="{{store url="customer/account/"}}">My Account</a> at the top of every page, and then enter your email address and password.</p>
                                    <p>
                                        You have recently added new product at your cart but did not finish the checkout. We are offering you attractive discount so you can use the coupon code to get it within your budget.
                                    </p>
                                    
                                    <p>Please use the following coupon to checkout at our site:</p>
                                    <p></p>
                                    
                                </td>
                            </tr>
                        </table>
                        <b>
                        Regards,<br />
                        www.paanmukhwas.com
                        </b>
                      </textarea>
                    </td>
                </tr>
                
                
                <tr>
                    <td class="label">&nbsp;</td>
                    <td class="input-ele">
                    <p class="form-buttons">
                        <button onclick="editForm.submit()" class="scalable save" type="submit" name="submit"><span><span><span>Send</span></span></span></button>
                    </p>
                    </td>
                </tr>
            </table>
            
            
            
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    var editForm = new varienForm('edit_form');
</script>

<script type="text/javascript">
window.onload=function()
{
   tinyMCE.init({
    mode : "exact",
    elements: "mailcontent",
    theme : "advanced",
    plugins : "inlinepopups,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras",
    theme_advanced_buttons1 : "newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
    theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
    theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
    theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,|,visualchars,nonbreaking",
    theme_advanced_toolbar_location : "top",
    theme_advanced_toolbar_align : "left",
    theme_advanced_path_location : "bottom",
    extended_valid_elements : "a[name|href|target|title|onclick],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name],hr[class|width|size|noshade],font[face|size|color|style],span[class|align|style]",
    theme_advanced_resize_horizontal : 'true',
    theme_advanced_resizing : 'true',
    apply_source_formatting : 'true',
    convert_urls : 'false',
    force_br_newlines : 'true',
    doctype : '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">'

  });
};
</script>