<div class="col-md-2">
                	<div class="footer-social">
                		<h3>Connect with Us</h3>
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_social')->toHtml() ?>
                    </div>
                    <div class="footer-logo"><img src="<?php echo $this->getSkinUrl('images/footer-logo.png') ?>" alt=""></div>
                </div>