
@charset "utf-8";
/* CSS Document */


/* CSS Document */

@media only screen and (max-width:1024px){
	.testimonials .testi-con span {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 250px;
    margin: 0;
    padding: 5px 10px 5px 25px;
    text-align: left;
}
	.testimonials .client-wrapper {
    background: none repeat scroll 0 0 #ebddc0;
    margin: 20px 15px 0 0 !important;
    min-height: 450px;
    padding: 30px 15px !important;
    width: auto;
}
	#wishlist-table input.qty {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b6b6b6;
    border-radius: 6px;
    color: #555555;
    font: 500 18px "Open Sans";
    height:30px;
    padding: 6px;
    text-align: center;
    width: 2em !important;
}
	body.customer-account .my-account .title-buttons span.separator, body.customer-account .my-account .title-buttons a {
    float: right;
	top:-29px;
 
}
 .new-users  {
    background: none repeat scroll 0 0 #ebddc0;
    border-radius: 2px;
    box-shadow: 0 0 4px #999;
    float: left;
    font-family: "Lato";
    font-size: 12px;
    height: 458px;
    margin: 15px 0 20px 0px;
    padding: 25px 20px 0;
    width:100%;
}
.registered-users  {
	
	  background: none repeat scroll 0 0 #ebddc0;
    border-radius: 2px;
    box-shadow: 0 0 4px #999;
    float: left;
    font-family: "Lato";
    font-size: 12px;
    height: 458px;
    margin: 15px 0 20px 15px;
    padding: 25px 20px 0;
    width: 100%;
}

	.customer-name .select-box{
		width:53.5%!important;
	}
.customer-account-login .divider {
    border-left: 0px solid #fff;
}
.header-cart {
    background: url("../images/cart-top.png") no-repeat scroll left 12px rgba(0, 0, 0, 0);
    color: #dedede;
    float: right;
    line-height: 37px;
    margin-left: 4px;
    margin-right:0px;
    padding-left: 20px;
}
.pages {
    float: left;
    margin-left: 15px;
    margin-top: 3px;
    overflow: hidden;
}

	.top-container .col-md-4{
		 width:33.33 !important;
	}
	

	.top-container .sort span {
    float: left;
    padding: 5px 10px 0 0;
    width: 28%;
	font-size:12px;
	white-space: nowrap;
}
.show {
    float: left;
    width: 33%;
}
.show select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 94% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 0;
    color: #646464;
    font-size: 14px;
    height: 35px;
    margin-left:0px;
    padding-bottom: 10px !important;
    padding-top: 5px;
    width:100%;
}
.top-container .view span{
	width:28%;	
	font-size:12px;
}
.view a{
	width:14px;
	height:14px;
	display:block;
	float:left;	
}
.top-container .sort small {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.sort-by{
	float:right !important;	
}

.top-container .sort,.top-container .view{
	width:100% !important;	
}

	

.featured-slider .featured-title{
	font:700 22px 'Open Sans', sans-serif;
	color:#b32200;
	margin:15px 0;min-height:63px;
}
	body{
		padding:0;
		
    overflow-x:hidden;

	}
	
		.navbar-fixed-top{
		position:static;
	}
	
	.checkout form input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 5px;
    padding: 10px;
    width: 60%;
}

.country-sort {
    float: left;
    width: 60%;
}

.address input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 4px !important;
    padding: 10px;
    width: 60% !important;
}

.cart-totals, .cart-forms .discount, .cart-forms .giftcard, .cart-forms .shipping {
    background: none repeat scroll 0 0 #ebddc0;
    border-radius: 5px;
    float: left;
    margin: 20px 0;
    padding: 10px 6px 25px;
    width: 100%;
}	
	
	.nav-bottom .btn {
    font-weight: 600;
    margin: 6px 2px 0;
    padding: 3px 4px;
}
.navbar-nav > li > a {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 0px dotted #7c7f79;
    color: #565953;
    line-height: 24px;
    padding-left: 6px;
    padding-right: 3px;
}
.navbar-nav > li > a:hover {
	 background: none repeat scroll 0 0 #fff;
}
.form-inline {
    float: left;
    padding: 20px 0;
    width: 100%;
}


.form-inline .input-group {
    float: none;
    width:75%;
	padding:0px!important;
}

.form-inline .input-groups {
    float: left;
    margin: 0 28%;
    width: 75% !important;
}
.logo{
	text-align:left;
}
.products-grid ul {
margin:0px 0px 0px 2%!important;
padding:0px;
width:100%;	
}
.products-grid  li {
    border: 1px solid #f1f1f1;
    display: block;
    float: left;
    margin: 0 2% 2% 0;
    padding: 6px;
    width:30%;
	background:#f5eee0;
	text-align:center;
}
.top-container{
	height:54px;
}
.top-container .view {
    color: #fff;
    float: left;
    padding: 0 0%;
    width: 100%;
}

.top-container .sort {
    color: #fff;
    width:73%!important;
	 float: left;
	 padding: 0 0%;
}
.no-padding{
	padding:0px;
}

.top-container .sort img {
    float: left;
    padding:10px 0px 0px 0px;
}
.sort-by select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 0;
    color: #646464;
    font-size: 14px;
    height: 33px;
    margin-left: 0px;
    padding-bottom: 10px !important;
    padding-top: 5px;
    width: 90%;
}
.products-grid ul {
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
}
.testimonials .client-wrapper {
    background: none repeat scroll 0 0 #ebddc0;
    margin: 20px 30px 25px 0;
    padding: 30px 15px;
}
.checkout form label {
    color: #e8e8e8;
    float: left;
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
    text-transform: uppercase;
    width: 35%;
}

.control{
	margin-left:33%;
    float: left;
	width:100%;
}

.itembox .boxrow {
    color: #000;
    display: block;
    float: left;
    font: 16px "Open Sans" !important;
    margin: 0;
    padding: 0 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    width: 16%;
}
.top{
	margin-top:60px;
}
.itembox .total {
    float: right;
    width: 60%;
}

.inner-blk {
    margin:0px 0px!important;
    width: 100%;
	padding:0px 0px 0px 15px
}
.pager2{
	margin-left:0px;
}
.thumbnail_picture .controls3 {
    left: 0!important;
    position: relative;
    top: -55px;
    width: 100%;
    z-index: 1000;
}
.thumbnail_picture .bx-viewport {
    margin: 0 auto;
    max-width:80% !important;
}
.country-sort select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 5px;
    color: #646464;
    font-size: 11px;

    height: 40px;
    margin-bottom: 23px;
    margin-left: 5px;
    padding: 10px;
    width: 100%;
}

.featured_products .featured_products_item {
    padding: 10px 10px 50px;
}

.form-controls {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 1.42857;
    max-width: 360px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 75% !important;
}

.resheader-cart a{
	color:#fff;
}
.resheader-cart .count {
    color: #fff;
}
.products-list .product-shop .product-primary, .products-list .product-shop .desc {
    color: #fff;
    float: left;
    padding-left: 0px;
    width: 100%;
}

.featured-products .featured-slider {
    background:none;
}

.category-block .cb .cb-area {
    border-radius: 5px;
    font-size: 13px;
    line-height: 15px;
    min-height: 300px;
    overflow: hidden;
    padding: 20px 30px;
}
#my-orders-tablediv{
	display:none;
}
#wishlist-table td.customer-wishlist-item-cart .link-edit {
    border: 1px solid #e8e8e8;
    color: #e8e8e8;
    float: right;
    font: 400 12px/25px "Open Sans",sans-serif;
    margin: 0 28px 0 0;
    padding: 0 15px;
    text-transform: capitalize;
}
.my-account {
    margin: 10px 0px 0px 0px;
    padding: 0 0 0 15px;
    width: 97%;
}
}

@media screen and (min-device-width: 993px) and (max-device-width: 1024px) {
	
	



}
@media screen and (min-device-width: 768px) and (max-device-width: 992px) { 

.navbar-nav-1 {
    float: right !important;
    margin: 0;
    width: 440px !important;
}
.quote::before {
    background: url("../images/block-quote-before.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: " ";
    height: 25px;
    left: 23px;
    position: absolute;
    width: 25px;
}

.testimonials .client-holder p {
    color: #b32200;
    font-style: italic;
    font-weight: 600;
    padding: 15px 0;
    text-align: center!important;
}
	.testimonials .testi-con span {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 150px;
    margin: 0;
    padding: 5px 10px 5px 25px;
    text-align: center!important;
}
	.testimonials .client-holder span a {
    color: #803d14;
    display: block;
    font: 600 13px "Open Sans",sans-serif;
    text-align: center!important;
}
	.testimonials .client-wrapper{
	margin:20px 0 25px 0px;
	background:#ebddc0;
	padding:30px 15px;
	min-height:450px;
	width:95%!important;
}


#wishlist-table td.customer-wishlist-item-cart .link-edit {
    border: 1px solid #e8e8e8;
    color: #e8e8e8;
    float: right;
    font: 400 12px/25px "Open Sans",sans-serif;
    margin: 0 0px 0 0;
    padding: 0 15px;
    text-transform: capitalize;
}


	.customer-name .select-box{
		width:50%!important;
	}
.nav-top .intro-txt {
    line-height: 54px;
    text-align: center;
}

.navbar-nav {
    float: left;
    margin: 0;
    width: 600px;
}
.top-container .col-md-4 {
    float: left!important;
    width: 33.33% !important;
}
.featured-slider .featured-title{
	font:700 22px 'Open Sans', sans-serif;
	color:#b32200;
	margin:15px 0;min-height:63px;
}
.featured-products .featured-slider {
    background:none;
}
.category-block .cb .cb-area {
    border-radius: 5px;
    font-size: 13px;
    line-height: 15px;
    min-height: 362px;
    overflow: hidden;
    padding: 20px 30px;
}

.checkout form input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    color: #646464;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 5px;
    padding: 10px;
    width: 63%;
}
.pager2 {
    margin-left: 0px!important;
}
#review-buttons-container .btn-checkout {
    min-width: 100%;
}

.placeorder_button {
    background: none repeat scroll 0 0 #de563f;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font: 18px "Open Sans",sans-serif;
    margin: 15px 0 0;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.btns {
    background: none repeat scroll 0 0 #196087;
    border: medium none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    height: 40px;
    margin: 0 !important;
    padding: 0 15px;
    width: auto;
}

.form-inline {
    float:left;
    padding: 5px 0;
    width:100%;
	margin-left:0px;
}



.form-controls {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 1.42857;
    max-width: 360px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 79% !important;
}

	.inner-blk {
    margin:0px 0px!important;
    width: 100%;
	padding:0px 0px 0px 0px
}
.logo{
	text-align:left;
}

.products-grid ul {
margin:0px 0px 0px 0px;
padding:0px;
width:100%;	
}
.products-grid  li {
    border: 1px solid #f1f1f1;
    display: block;
    float: left;
    margin: 0 2% 2% 0;
    padding: 6px;
    width:46%;
	background:#f5eee0;
	text-align:center;
}
#product_grid_container {
    float: left;
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
}

.top-container{
	height:auto;
}
.top-container .view {
    color: #fff;
    float: left;
    padding: 0 0%;
    width: 20%;
}

.top-container .sort {
    color: #fff;
    width:40%;
	 float: left;
}
.testimonials .client-wrapper {
    background: none repeat scroll 0 0 #ebddc0;
    margin: 20px 30px 25px 0;
    padding: 30px 15px;
}
blockquote{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	color:#000;
	text-align:left;
	font-weight:600;
	width:auto;
	float:left;
	width:100%;
}

.checkout form {
    margin: 0;
    padding: 0;
    width: 100%;
	float:left;
}
.control{
	margin-left:25%;
}
.control-newsletter{
	width:49%;
	float:left;
}
.control-newsletter p{
	color:#000;
	float:left;
	font-size:14px;
	margin:20px 0px 0px 0px;
}

.inner-blk {
    margin:0px 0px!important;
 
}

.thumbnail_picture .controls3 {
    left: 0!important;
    position: relative;
    top: -55px;
    width: 100%;
    z-index: 1000;
}
.thumbnail_picture .bx-viewport {
    margin: 0 auto;
    max-width: 95% !important;
}
  .dropdown{
	  display:block!important;
  }
  
.control {
    float: left;
    margin-left: 33%;
    width: 100%;
}
.itembox .boxrow {
    color: #000;
    display: block;
    float: left;
    font: 16px "Open Sans" !important;
    margin: 0;
    padding: 0 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    width: 16%;
}
.itembox .item_row .totaltitle {
    color: #000;
    display: block;
    float: left;
    font: 16px "Open Sans" !important;
    margin: 0;
    padding: 0 0 10px;
    text-decoration: none;
    width: 68%;
}
.country-sort select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 5px;
    color: #646464;
    font-size: 11px;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 5px;
    padding: 10px;
    width: 100%;
}
.featured_products .featured_products_item {
	
	 
	padding:10px 10px 50px;
 }
 
 
 
.navbar-nav > li > a {
    background:#fff;
    border-bottom: 0px dotted #7c7f79;
    color: #565953;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
} 
.navbar-nav > li > a:hover {
	 background: none repeat scroll 0 0 #fff;
}
.navbar-nav > li > a {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 0px dotted #7c7f79;
    color: #565953;
    line-height: 24px;
    padding-left: 6px;
    padding-right: 3px;
}

.resheader-cart{display:inline-block;
}

.header-cart {display: none;
}

.form-inline .input-groups {
    float: none;
    margin-left: 6%;
    width: 90%!important;
}

.checkout h3 {
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 20px 0px;
    text-transform: uppercase;
    width: 100%;
}

.address input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 4px !important;
    padding: 10px;
    width: 60% !important;
}

.order-review {
    background: none repeat scroll 0 0 #ebddc0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 50px;
    margin-left: 0px;
    max-width: 500px;
    padding: 10px 25px 25px;
    width: 100%;
}

.cart-totals, .cart-forms .discount, .cart-forms .giftcard, .cart-forms .shipping {
    background: none repeat scroll 0 0 #ebddc0;
    border-radius: 5px;
    float: left;
    margin: 20px 0;
    padding: 10px 10px 25px;
    width: 100%;
}	
.button2 span, .button2 span span {
    color: #fff;
    display: inline-block;
    font: 12px "Open Sans";
    height: 30px;
    margin: 4px 12px;
    text-align: center;
    text-transform: uppercase;
}
.checkout-types {
    float: none!important;
    max-width: 100%;
    text-align: right;
}

.products-list > li .product-image {
    float: left;
    width: 40%;
}
.products-list .product-shop {
    float: right;
    margin-top: 10px;
    padding-left: 0;
    width: 57%;
}
.list-description {
    color: #fff;
    float: left;
    margin-top: 7px;
    padding-left: 15px;
    width: 56%;
}
.products-list .product-shop  .products-list .product-shop .desc {
    color: #fff;
    float: left;
    padding-left: 20px;
    width: 100%;
}

.opc-wrapper-opc .validation-advice {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ff0000;
    float: left;
    padding-left: 34%!important;
}

.country-sort-2 {
    float: left;
    width: 100%;
}

.input-box .v-fix {
    float: left;
    margin-right: 5px;
    width: 23%;
}
.country-sort-1 {
    float: left;
    width: 46%;
}

.top-menus{
	width: auto;
}
}
@media only screen and (max-width:767px){
	.nav-top .intro-txt {
    border-bottom: 1px solid #ccc;
    line-height: normal;
    padding: 15px 0;
    text-align: center;
}

	.featured-products .featured-slider{
		background:none;
	}
	#review-buttons-container .btn-checkout {
    min-width: 100%;
}


.checkout h3 {
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 20px 0px;
    text-transform: uppercase;
    width: 100%;
}

.address input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 4px !important;
    padding: 10px;
    width: 63% !important;
}

.order-review {
    background: none repeat scroll 0 0 #ebddc0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 50px;

    margin-left: 0px;
    max-width: 500px;
    padding: 10px 25px 25px;
    width: 100%;
}


			.logo{
		padding:10px 0px 0px 0px;
		text-align:center;
		width:100%;
	}
	.nav-top .intro-txt{
		line-height:normal;
		padding:15px 0;
		border-bottom:1px solid #ccc;
	}
	.category-block{
		margin:0 0 20px;
	}
	.category-block h2{
		font-size:40px;
	}
	.category-block .cb{
		margin-bottom:0;
	}
	.category-block .cb .cb-area{
		margin-bottom:15px;
	}
	.featured-products{
		padding:20px;
	}
	.featured-products h2{
		font-size:30px;
	}
	.featured-slider .item{
		padding:0 40px;
		border:none;
	}
	
		.inner-blk {
    margin: 100px 0;
    width: 100%;
	padding:0px 0px 0px 10px
}
	.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   min-width: 100%;
}

.form-inline {
    float: none !important;
    padding: 20px 0;
    width: auto;
    
}
.input-group-addon, .input-group-btn{
	
	width:14% !important;
}

.form-inline .input-groups {
    float: left;
    margin: 10px 15%;
    width: 75% !important;
}
.btns {
    background: none repeat scroll 0 0 #196087;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    margin: 0 !important;
    padding: 0 15px;
    width:auto;
}

.products-grid ul {
margin:0px 0px 0px 0px;
padding:0px;
width:100%;	
}
.products-grid  li {
    border: 1px solid #f1f1f1;
    display: block;
    float: left;
    margin: 0 2% 2% 0;
    padding: 6px;
    width:45.7%;
	background:#f5eee0;
	text-align:center;
}
#product_grid_container {
    float: left;
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
}
.top-container{
	height:auto;
}

.top-container .view {
    color: #fff;
    left: -15px;
    padding: 10px 0px;
    position: relative;
    width: 100%;
}

.top-container .sort {
    color: #fff;
    width: 40%;
	 float: left;
}

blockquote{
	padding:0px 0px 0px 0px;
	margin:0px;
	color:#000;
	text-align:left;
	font-weight:600;
	font-size:19px;
	width:100%;
}

.testimonials .client-wrapper {
    background: none repeat scroll 0 0 #ebddc0;
    margin: 20px 0 25px;
    padding: 30px 15px;
}


.country-sort {
    float: left;
    width: 70%;
}

.control{
	margin-left:28%;
}

.control input{
width:5%!important;
float:left;
margin:0px 0px 0px 0px!important;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;
position:relative;
top:-6px;
	
}

.control label{
float:left;
color:#e8e8e8;
font-weight:normal!important;
font-size:14px;
width:95%!important;
padding-top:10px;
text-transform:capitalize!important;
margin:0px;
padding:0px 0px 0px 5px!important;
}

.top{
	margin-top:0px;
}
.checkout form {
    margin: 0;
    padding: 0;
    width: 100%;
	float:left;
}
.control-newsletter{
	width:50%;
	float:left;
}
.control-newsletter p{
	color:#000;
	width:20%;
	float:left;
	font-size:14px;

	margin:20px 0px 0px 0px;
}

.inner-blk {
    margin:0px 0px!important;
 
}
.pager2{
	margin-left:0px;
}

.thumbnail_picture .bx-viewport {
    margin: 0 auto;
    max-width: 90% !important;
}

  .responsive-delete{
	  display:none;
  }

  
  .cart-table {
    float: left;
    width: 65%;
}


.cart-forms, .cart-totals-wrapper, .crosssell {
    clear: right;
    float: right;
    padding-left: 20px;
    width: 33%;
}

.header-cart {
    display: none;
}
.header-minicart{
	  display: none;
	}
.resheader-cart{
	  display:block;
	  color:#fff;
  }
  
  .resheader-cart a{
	
	 color:#fff;
  }
    .dropdown{
	  display:block!important;
  }
  .order-review {
    background: none repeat scroll 0 0 #ebddc0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 50px;
    max-width: 500px;
    padding: 10px 8px 25px;
    width: 100%;
}
.itembox .boxrow:first-child {
    color: #b32200;
    font: 14px "Open Sans" !important;
    text-transform: capitalize !important;
    width: 48% !important;
}

.country-sort {
    float: left;
    width: 63%;
}
.control {
    float: left;
    margin-left: 36%;
    width: 100%;
}

.itembox .boxrow {
    color: #000;
    display: block;
    float: left;
    font: 16px "Open Sans" !important;
    margin: 0;
    padding: 0 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    width: 16%;
}


.itembox .boxrow:first-child {
    color: #b32200;
    font: 16px "Open Sans" !important;
    text-transform: capitalize !important;
    width: 48% !important;
}

.itembox .item_row .totaltitle {
    color: #000;
    display: block;
    float: left;
    font: 14px "Open Sans" !important;
    margin: 0;
    padding: 0 0 10px;
    text-decoration: none;
    width: 69%;
}
   .navbar-header{
    display:block;
   }
   
   
      .push-menu{
   float:left;
   width:100%;
  
   }
   
    .featured_products .featured_products_item {
	
	padding:10px 10px 50px;
 }
 
 .nav-bottom .btn {
    font-weight: 600;
    margin: 6px 2px 0;
    padding: 3px 4px;
}

.navbar-nav > li > a {
    background: none repeat scroll 0 0 #ccc;
    border-bottom: 1px dotted #7c7f79;
    color: #565953;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
}
.navbar-nav > li > a:hover {
	 background: none repeat scroll 0 0 #dbdcdd;
}

.form-controls {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 70%!important;
	float:left;
	
}
.navbar-header {
    background: none repeat scroll 0 0 #e2e2e2;
    border: 1px dotted #666666;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 10px;
    margin: 0 % !important;
    padding-left: 0;
    width: 69%;
}
.navbar-brands {
    color: #666666;
    line-height: 50px;
    padding: 0 11px;
}

.itembox .boxrow:last-child {
    color: #b32200;
    font-weight: 600;
    padding-left: 0px;
    width: 16% !important;
}

.cart-table .product-cart-actions {
    min-width: 80px;
}

.products-list > li .product-image {
    float: left;
    width: 40%;
}
.products-list .product-shop {
    float: right;
    margin-top: 10px;
    padding-left: 0;
    width: 57%;
}
.list-description {
    color: #fff;
    float: left;
    margin-top: 7px;
    padding-left: 15px;
    width: 56%;
}

.products-list .product-shop .product-primary, .products-list .product-shop .desc {
    color: #fff;
    float: left;
    padding-left: 0px;
    width: 100%;
}
.edit-btn {
    left: 0px;
    position: relative;
    top: 0px;
}
.opc-wrapper-opc .validation-advice {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ff0000;
    float: left;
    padding-left: 34%;
}
.validation-advice {
    clear: both;
    color: #ff0000;
    display: block;
    float: left;
    font-size: 13px;
    margin: 4px 0 0 41%;
}
.customer-name .select-box{
		width:100%!important;
	}
}

@media screen  and (max-device-width: 480px) {
	.testimonials .client-holder p {
    color: #b32200;
    font-style: italic;
    font-weight: 600;
    padding: 15px 0 0;
    text-align: center;
}
.testimonials .client-holder span a {
    color: #803d14;
    display: block;
    font: 600 13px "Open Sans",sans-serif;
    text-align: center;
}	
	.testimonials .testi-con span {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 130px;
    margin: 0;
    padding: 5px 10px 5px 25px;
    text-align: center;
}
.quote::before {
    background: url("../images/block-quote-before.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: " ";
    height: 25px;
    left: 34px;
    position: absolute;
    width: 25px;
}
	
	#wishlist-table input.qty {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b6b6b6;
    border-radius: 6px;
    color: #555555;
    font: 500 18px "Open Sans";
    height:30px;
    padding: 6px;
    text-align: center;
    width: 2em !important;
}
	#wishlist-table td.customer-wishlist-item-cart .link-edit {
    border: 1px solid #e8e8e8;
    color: #e8e8e8;
    float: right;
    font: 400 12px/25px "Open Sans",sans-serif;
    margin: 0 5px 0 0;
    padding: 0 15px;
    text-transform: capitalize;
}
	
	#wishlist-table.clean-table td {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}
.buttons-set .back-link {
    display: block;
    float: left;
    line-height: 33px;
    margin: 0 0 0 0px;
}
	body.customer-account .my-account .title-buttons span.separator, body.customer-account .my-account .title-buttons a {
    right: -285px;
    top: 0;
	float:none!important;
}
	
	.contact .required{
	font-size:12px;
	padding-right:5px;
	margin-top:10px;
}
	.contact .validation-advice {
    clear: both;
    color: #ff0000;
    display: block;
    float: left;
    font-size: 13px;
    margin: 0 0 0 0;
}
	.category-block .cb .cb-area h3 {
    font: 700 13px "Open Sans",sans-serif;
}
.category-block .cb .cb-area {
    border-radius: 5px;
    font-size: 12px!important;
    line-height: 15px;
    min-height: 235px!important;
    overflow: hidden;
    padding: 20px 30px;
}

	.itembox .boxrow:last-child {
    color: #b32200;
    font-weight: 600;
    padding-left: 0px;
    width: 16% !important;
}
	
 	.logo{
		padding:10px 0px 0px 0px;
		text-align:center;
		width:100%;
	}
	.inner-blk {
    margin: 100px 0;
    width: 100%;
	padding:0px 0px 0px 10px
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   min-width: 100%;
}
.form-inline-right {
    float: none;
}

.form-inline {
    float:none;
    padding: 20px 0;
    width:97% !important;
}

.form-inline .input-group {
    float: none;
    width:100%;
}

.products-grid ul {
margin:0px 0px 0px 0px;
padding:0px;
width:100%;	
}
.products-grid  li {
    border: 1px solid #f1f1f1;
    display: block;
    float: left;
    margin: 0 0% 4% 0!important;
    padding: 6px;
    width:94%!important;
	background:#f5eee0;
	text-align:center;
}
#product_grid_container {
    float: left;
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
}
.top-container{
	height:auto;
}

.top-container .view {
    color: #fff;
    left: -15px;
    padding: 10px 0px;
    position: relative;
    width: 100%;
}

.top-container .sort {
    color: #fff;
    width: 100%;
	 float: left;
}
.top-link li a {
    color: #fff;

    display: block;
    float: left;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px 0 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}

.top-link span.active {
    color: #89c64c;
    display: block;
    font-size: 13px;
}





.testimonials .client-wrapper {
    background: none repeat scroll 0 0 #ebddc0;
    margin: 20px 0 25px;
    padding: 30px 15px;
}
.bredcrumb {
    margin: 20px 0 10px 0px;
    padding: 0;
    width: 100%;
}
.contact{
width:100%;
margin:0px;
padding:0px;
}

.contact form input{

width:97.5%;
height:40px;
margin-bottom:23px;
margin-left:0px;
padding:10px;
float:left;
background-color:#fff;
border-radius:3px;
border:1px #dedede solid;

}
.contact form label{
float:left;
color:#fff;
font-weight:normal;
font-size:15px;
width:100%;
padding-top:10px;
text-transform:uppercase;
}

.contact form textarea{
width:97.5%;
height:110px;
margin-bottom:20px;
padding:10px;
float:left;
background-color:#fff;
border-radius:3px;
border:1px #dedede solid;
margin-left:0px;

}


.checkout {
    margin: 0;
    padding: 0;
    width: 96%;
}
.checkout form {
    margin: 0;
    padding: 0;
    width: 100%;
	float:left;
}
.checkout form label{
float:left;
color:#e8e8e8;
font-weight:700;
font-size:15px;
width:100%;
padding-top:10px;
text-transform:uppercase;
}

.checkout form input{

width:100%;
height:40px;
margin-bottom:23px;
margin-left:0px;
padding:10px;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;



}

.country-sort {
    float: left;
    width: 100%;
}
.control{
	margin-left:0%;
}

.control input{
width:5%!important;
float:left;
margin:0px 0px 0px 0px!important;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;
position:relative;
top:-6px;
	
}

.control label{
float:left;
color:#e8e8e8;
font-weight:normal!important;
font-size:14px;
width:95%!important;
padding-top:10px;
text-transform:capitalize!important;
margin:0px;
padding:0px 0px 0px 5px!important;
}

.top{
	margin-top:0px;
}



.itembox .boxrow {
    color: #000;
    display: block;
    float: left;
    font: 13px "Open Sans" !important;
    margin: 0;
    padding: 0 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    width: 15%;
}

.itembox .boxhead {
    color: #000;
    display: block;
    float: left;
    font: bold 14px "Open Sans" !important;
    margin: 0;
    padding: 15px 0 0;
    text-decoration: none;
    text-transform: capitalize;
    width: 15%;
}

.itembox .item_row .totaltitle {
    color: #000;
    display: block;
    float: left;
    font: 16px "Open Sans" !important;
    margin: 0;
    padding: 0 0 10px;
    text-decoration: none;
    width: 57%;
}
.itembox .total {
    float: right;
    width: 100%;
}
.placeorder_button {
    background: none repeat scroll 0 0 #de563f;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font: 18px "Open Sans",sans-serif;
    margin: 25px 0 0;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.control-newsletter{
	width:100%;
	float:left;
}
.control-newsletter p{
	color:#000;
	width:100%!;
	float:left;
	font-size:14px;
	margin:20px 0px 0px 0px;

	text-align:left;
}
.inner-blk {
    margin:0px 0px!important;
 
}
.pager2{
	margin-left:0px;
}

.picture_container img {
    border: 1px solid #bababa;
    width: 97%;
}
.picture_container  .thumbnail_picture img{
	 border: 1px solid #bababa;
    width: 100%!important;
}
.picture_container .thumbnail_picture figure {
    border: 4px solid #bababa;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: left;
    padding: 0;
    width:75px!important;
}
.thumbnail_picture .bx-viewport {
    max-width: 90% !important;
	margin:0px auto;
}
.thumbnail_picture .controls3 {
    left: 0px!important;
    position: relative;
    top: -55px;
    width: 100%;
    z-index: 1000;
}

.suggested-grid h2 {
    border-bottom: 3px solid #fff;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 0 0 10px;
    text-transform: uppercase;
    width: 99%;
}
.suggested-grid  li {
    border: 1px solid #ebddc0;
    display: block;
    float: left;
    margin: 0px;
     padding: 8px 6px 8px 8px;
    width:100%;
	background:#ebddc0;
	text-align:center;
	min-height:350px;
}
  .responsive-delete{
	  display:block;
  }
  
  .cart .cart-totals {
    clear: both;
    content: "";
    display: table;
    width: 97%;
}

.cart-totals, .cart-forms .discount, .cart-forms .giftcard, .cart-forms .shipping {
    background: none repeat scroll 0 0 #ebddc0;
    border-radius: 5px;
    float: left;
    max-width: 97%;
    padding: 10px 25px 25px;
}
.header-cart {
    display: none;
}

.header-minicart{
	  display: none;
	}
.resheader-cart{
	  display:block;
	  color:#fff;
  }
  .resheader-cart a {
	
	 color:#fff;
  }
  
  .dropdown{
	  display:block!important;
  }
  .country-sort select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 5px;
    color: #646464;
    font-size: 10px;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 5px;
    padding: 0;
    width: 100%;
}

.control {
    float: left;
    margin: 10px 0;
    width: 100%;
}

.mcodes label {
    width: 100% !important;
}

.order-review {
    background: none repeat scroll 0 0 #ebddc0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 50px;
    max-width: 500px;
    padding: 10px 8px 25px;
    width: 100%;
}

.itembox .boxrow:first-child {
    color: #b32200;
    font: 12px "Open Sans" !important;
    text-transform: capitalize !important;
    width: 48% !important;
}
.control {
    float: left;
    margin: 10px 0 0 15px;
    width: 100%;
}
   .navbar-header{
    display:block;
   }
   
      .push-menu{
   float:left;
   width:100%;
  
   }
   
.featured_products .featured_products_item {
	
	 margin: 0 3px 0 4px !important;
	padding:10px 10px 50px;
 }
 
 	
 
 .nav-bottom .btn {
    font-weight: 600;
    margin: 6px 2px 0;
    padding: 3px 4px;
}
 .form-controls {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 69%!important;
	float:left;
	
}	

.form-inline .input-groups {
    float:left;
    margin: 10px 3%;
    width: 100% !important;
}
.btns {
    background: none repeat scroll 0 0 #196087;
    border: medium none;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    margin: 0 !important;
    padding: 0 15px!important;

    width: 75%;
}



.navbar-header {
    background: none repeat scroll 0 0 #e2e2e2;
    border: 1px dotted #666666;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 10px;
    margin: 0 13px !important;
    padding-left: 0;
    width: 92%;
}
.navbar-brands {
    color: #666666;
    line-height: 50px;
    padding: 0 11px;
}	
.order-review {
    background: none repeat scroll 0 0 #ebddc0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 50px;
    margin-left: 0px;
    max-width: 500px;
    padding: 10px 25px 25px;

    width: 100%;
}
.checkout h3 {
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 20px 0px;
    text-transform: uppercase;
    width: 100%;
}

.address input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 0 !important;
    padding: 10px;
    width: 100% !important;
}

.cart-table .cart-links {
    float: left;
    padding-right: 5px;
    padding-top: 0;
    width: 61%;
}

.products-list > li .product-image {
    float: left;
    width: 97%;
}

.products-list .product-shop {
    float: right;
    margin-top: 10px;
    padding-left: 0;
    width: 100%;
}

.list-description {
    color: #fff;
    float: left;
    margin-top: 7px;
    padding-left: 0;
    width: 97%;
}

.products-list .product-shop .product-primary, .products-list .product-shop .desc {
    color: #fff;
    float: left;
    padding-left: 0px;
    width: 100%;
}

.edit-btn {
    left: 112px;
    position: relative;
    top: -45px;
}
.opc-wrapper-opc .validation-advice {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ff0000;
    float: left;
    padding-left: 0!important;
}

.input-box .v-fix {
    float: left;
    margin-right: 5px;
    width: 100%;
}
.country-sort-1 {
    float: left;
    width: 100%;
}

.country-sort-1  input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 5px;
    padding: 10px;
    width: 100% !important;
}
.featured-slider .featured-title {
    color: #b32200;
    font: 700 22px "Open Sans",sans-serif;
    margin: 15px 0;
    min-height: 90px;
}

.featured-slider .item {
    border: medium none;
    padding: 0 16px!important;
}
.customer-name .select-box{
		width:100%!important;
	}
	
	.form-inline .input-groups {
    float: left;
    margin: 10px 6%;
    width: 96% !important;
}
}
@media screen and (min-device-width: 360px) and (max-device-width:479px) {
		.testimonials .testi-con span {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 180px!important;
    margin: 0;
    padding: 5px 10px 5px 25px;
    text-align: left!important;
}
			.logo{
		padding:10px 0px 0px 0px;
		text-align:center;
		width:100%;
	}
	.inner-blk {
    margin: 100px 0;
    width: 100%;
	padding:0px 0px 0px 10px
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   min-width: 100%;
   
}
.form-inline-right {
    float: none;
}

.form-inline {
    float:none;
    padding: 20px 0;
    width: 100% !important;
}



.form-inline .input-groups {
    float:left;
    margin: 10px auto;
    width: 100% !important;
}


.products-grid ul {
margin:0px 0px 0px 0px;
padding:0px;
width:100%;	
}
.products-grid  li {
    border: 1px solid #f1f1f1;
    display: block;
    float: left;
    margin: 0 0% 4% 0!important;
    padding: 6px;
    width:94%!important;
	background:#f5eee0;
	text-align:center;
}
#product_grid_container {
    float: left;
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
}
.top-container{
	height:auto;
}


.top-container .view {
    color: #fff;
    left: -15px;
    padding: 10px 0px;
    position: relative;
    width: 100%;
}

.top-container .sort {
    color: #fff;
    width: 100%;
	 float: left;
}
.top-link li a {
    color: #fff;
    display: block;
    float: left;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px 0 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}

.top-link span.active {
    color: #89c64c;
    display: block;
    font-size: 13px;
}





.testimonials .client-wrapper {
    background: none repeat scroll 0 0 #ebddc0;
    margin: 20px 0 25px;
    padding: 30px 15px;
}
.bredcrumb {
    margin: 20px 0 10px 0px;
    padding: 0;
    width: 100%;
}
.contact{
width:100%;
margin:0px;
padding:0px;
}


.contact form input{

width:97.5%;
height:40px;
margin-bottom:23px;
margin-left:0px;
padding:10px;
float:left;
background-color:#fff;
border-radius:3px;
border:1px #dedede solid;

}
.contact form label{
float:left;
color:#fff;
font-weight:normal;
font-size:15px;
width:100%;
padding-top:10px;
text-transform:uppercase;
}

.contact form textarea{
width:97.5%;
height:110px;
margin-bottom:20px;
padding:10px;
float:left;
background-color:#fff;
border-radius:3px;
border:1px #dedede solid;
margin-left:0px;

}


.checkout {
    margin: 0;
    padding: 0;
    width: 96%;
}
.checkout form {
    margin: 0;
    padding: 0;
    width: 100%;
	float:left;
}
.checkout form label{
float:left;
color:#e8e8e8;
font-weight:700;
font-size:15px;
width:100%;
padding-top:10px;
text-transform:uppercase;
}

.checkout form input{

width:100%;
height:40px;
margin-bottom:23px;
margin-left:0px;
padding:10px;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;

}

.country-sort {
    float: left;
    width: 100%;
}
.control{
	margin-left:0%;
}

.control input{
width:5%!important;
float:left;
margin:0px 0px 0px 0px!important;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;
position:relative;
top:-6px;
	
}

.control label{
float:left;
color:#e8e8e8;
font-weight:normal!important;
font-size:14px;
width:95%!important;
padding-top:10px;
text-transform:capitalize!important;
margin:0px;
padding:0px 0px 0px 5px!important;
}

.top{
	margin-top:0px;
}



.itembox .boxrow {
    color: #000;
    display: block;
    float: left;
    font: 13px "Open Sans" !important;
    margin: 0;
    padding: 0 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    width: 15%;
}

.itembox .boxhead {
    color: #000;
    display: block;

    float: left;
    font: bold 14px "Open Sans" !important;
    margin: 0;
    padding: 15px 0 0;
    text-decoration: none;
    text-transform: capitalize;
    width: 15%;
}

.itembox .item_row .totaltitle {
    color: #000;
    display: block;
    float: left;
    font: 16px "Open Sans" !important;
    margin: 0;
    padding: 0 0 10px;
    text-decoration: none;
    width: 57%;
}
.itembox .total {
    float: right;
    width: 100%;
}
.placeorder_button {
    background: none repeat scroll 0 0 #de563f;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font: 18px "Open Sans",sans-serif;
    margin: 25px 0 0;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.control-newsletter{
	width:100%;
	float:left;
}
.control-newsletter p{
	color:#000;
	width:100%!;
	float:left;
	font-size:14px;
	margin:20px 0px 0px 0px;
	text-align:left;
}
.inner-blk {
    margin:0px 0px!important;
 
}
.pager2{
	margin-left:0px;
}

.picture_container img {
    border: 1px solid #bababa;
    width: 97%;
}
.picture_container  .thumbnail_picture img{
	 border: 1px solid #bababa;
    width: 100%!important;
}
.picture_container .thumbnail_picture figure {
    border: 4px solid #bababa;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: left;
    padding: 0;
    width:75px!important;
}
.thumbnail_picture .bx-viewport {
    max-width: 90% !important;
	margin:0px auto;
}
.thumbnail_picture .controls3 {
    left: 0px!important;
    position: relative;
    top: -55px;
    width: 100%;
    z-index: 1000;
}

.suggested-grid h2 {
    border-bottom: 3px solid #fff;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 0 0 10px;
    text-transform: uppercase;
    width: 99%;
}
.suggested-grid  li {
    border: 1px solid #ebddc0;
    display: block;
    float: left;
    margin: 0px;
     padding: 8px 6px 8px 8px;
    width:100%;
	background:#ebddc0;
	text-align:center;
	min-height:350px;
}
  .responsive-delete{
	  display:block;
  }
  
  .cart .cart-totals {
    clear: both;
    content: "";
    display: table;
    width: 97%;
}

.cart-totals, .cart-forms .discount, .cart-forms .giftcard, .cart-forms .shipping {
    background: none repeat scroll 0 0 #ebddc0;
    border-radius: 5px;
    float: left;
    max-width: 97%;
    padding: 10px 25px 25px;
}
.header-cart {
    display: none;
}

.header-minicart{
	  display: none;
	}
.resheader-cart{
	  display:block;
	  color:#fff;
  }
  .resheader-cart a {
	
	 color:#fff;
  }
  
  .dropdown{
	  display:block!important;
  }
  .country-sort select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 5px;
    color: #646464;
    font-size: 10px;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 5px;
    padding: 0;
    width: 100%;
}

.control {
    float: left;
    margin: 10px 0;
    width: 100%;
}

.mcodes label {
    width: 100% !important;
}

.order-review {
    background: none repeat scroll 0 0 #ebddc0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 50px;
    max-width: 500px;
    padding: 10px 8px 25px;
    width: 100%;
}

.itembox .boxrow:first-child {
    color: #b32200;
    font: 12px "Open Sans" !important;
    text-transform: capitalize !important;
    width: 48% !important;
}
.control {
    float: left;
    margin: 10px 0 0 15px;
    width: 100%;
}
   .navbar-header{
    display:block;
   }
   
      .push-menu{
   float:left;
   width:100%;
  
   }
   
 .featured_products .featured_products_item {
	
	margin:  0 2.0% !important;
	padding:10px 10px 50px;
 }
 
 .nav-bottom .btn {
    font-weight: 600;
    margin: 6px 2px 0;
    padding: 3px 4px;
}
	

.form-controls {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 69%!important;
	float:left;
	
}	
.btns {
    background: none repeat scroll 0 0 #196087;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    margin: 0 !important;
    padding: 0 15px;
    width: auto;
	}
	#search {
    font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
    height: 40px;
    padding-right: 0px;
    width: 100%;
}
.navbar-header {
    background: none repeat scroll 0 0 #e2e2e2;
    border: 1px dotted #666666;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 10px;
    margin: 0 auto !important;
    padding-left: 0;
    width: 100%;

}
.navbar-brands {
    color: #666666;
    line-height: 50px;
    padding: 0 11px;
}

.order-review {
    background: none repeat scroll 0 0 #ebddc0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 50px;
    margin-left: 0px;
    max-width: 500px;
    padding: 10px 25px 25px;
    width: 100%;
}
.checkout h3 {
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 20px 0px;
    text-transform: uppercase;
    width: 100%;
}

.address input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 0 !important;
    padding: 10px;
    width: 100% !important;
}
.cart-table .cart-links {
    float: left;
    padding-right: 5px;
    padding-top: 0;
    width: 64%;
}
.cart-table .product-cart-actions {
    float: left !important;
    margin: 0 0 0 20px;
    min-width: 65px;
    text-align: center;
}

.button2 span, .button2 span span {
    color: #fff;
    display: inline-block;
    font: 12px "Open Sans";
    height: 30px;
    margin: 4px 9px;
    text-align: center;
    text-transform: uppercase;
}
.products-list > li .product-image {
    float: left;
    width: 97%;
}

.products-list .product-shop {
    float: right;
    margin-top: 10px;
    padding-left: 0;
    width: 100%;
}

.list-description {
    color: #fff;
    float: left;
    margin-top: 7px;
    padding-left: 0;
    width: 97%;
}
.products-list .product-shop .desc {
    color: #fff;
    float: left;
    padding-left: 0;
    width: 100%;
}
.edit-btn {
    left: 30px;
    position: relative;
    top: -151px!important;
}

.opc-wrapper-opc .validation-advice {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ff0000;
    float: left;
    padding-left: 0!important;
}
.input-box .v-fix {
    float: left;
    margin-right: 5px;
    width: 100%;
}
.country-sort-1 {
    float: left;
    width: 100%;
}

.country-sort-1  input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 5px;
    padding: 10px;
}
    .form-inline .input-groups {
    float:left;
    margin: 10px 3%;
    width: 94%!important;
}

.btns {
    background: none repeat scroll 0 0 #196087;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    margin: 0 !important;
    padding: 0 4px!important;
    width: auto;
}

.featured-slider .featured-title {
    color: #b32200;
    font: 700 22px "Open Sans",sans-serif;
    margin: 15px 0;
    min-height: 86px;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 4px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.customer-name .select-box{
		width:100%!important;
	}
}
@media screen and (min-device-width: 320px) and (max-device-width:359px) {
	.edit-btn {
    /*left: 36px;
    position: relative;
    top: -151px!important;*/
}
	

		.logo{
		padding:10px 0px 0px 0px;
		text-align:center;
		width:100%;
	}
	.inner-blk {
    margin: 100px 0;
    width: 100%;
	padding:0px 0px 0px 10px
}


.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   min-width: 100%;
}


.form-controls {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 64%!important;
	float:left;
	
}
.form-inline-right {
    float: none;
}

.form-inline {
    float:none;
    padding: 20px 0;
    width: 100%;
}


.products-grid ul {
margin:0px 0px 0px 0px;
padding:0px;
width:100%;	
}
.products-grid  li {
    border: 1px solid #f1f1f1;
    display: block;
    float: left;
    margin: 0 0% 4% 0!important;
    padding: 6px;
    width:94%!important;
	background:#f5eee0;
	text-align:center;
}
#product_grid_container {
    float: left;
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
}
.top-container{
	height:auto;
}

.top-container .view {
    color: #fff;
    left: auto;
    padding: 10px 0px;
    position: relative;
    width: 100%;
}

.top-container .sort {
    color: #fff;
    width: 100%;
	 float: left;
}
.top-link li a {
    color: #fff;
    display: block;
    float: left;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px 0 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}

.top-link span.active {
    color: #89c64c;
    display: block;
    font-size: 13px;
}


.testimonials .client-wrapper {
    background: none repeat scroll 0 0 #ebddc0;
    margin: 20px 0 25px;
    padding: 30px 15px;
}
.bredcrumb {
    margin: 20px 0 10px 0px;
    padding: 0;
    width: 100%;
}
.contact{
width:100%;
margin:0px;
padding:0px;
}

.contact form input{
width:97.5%;
height:40px;
margin-bottom:23px;
margin-left:0px;
padding:10px;
float:left;
background-color:#fff;
border-radius:3px;
border:1px #dedede solid;

}
.contact form label{
float:left;
color:#fff;
font-weight:normal;
font-size:15px;
width:100%;
padding-top:10px;
text-transform:uppercase;
}

.contact form textarea{
width:97.5%;

height:110px;
margin-bottom:20px;
padding:10px;
float:left;
background-color:#fff;
border-radius:3px;
border:1px #dedede solid;
margin-left:0px;

}


.checkout {
    margin: 0;
    padding: 0;
    width: 96%;
}
.checkout form {
    margin: 0;
    padding: 0;
    width: 100%;
	float:left;
}

.checkout form label{
float:left;
color:#e8e8e8;
font-weight:700;
font-size:15px;
width:100%;
padding-top:10px;
text-transform:uppercase;
}

.checkout form input{

width:100%;
height:40px;
margin-bottom:23px;
margin-left:0px;
padding:10px;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;

}

.country-sort {
    float: left;
    width: 100%;
}
.control{
	margin-left:0%;
}

.control input{
width:5%!important;
float:left;
margin:0px 0px 0px 0px!important;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;
position:relative;
top:-6px;
	
}

.control label{
float:left;
color:#e8e8e8;
font-weight:normal!important;
font-size:14px;
width:95%!important;
padding-top:10px;
text-transform:capitalize!important;
margin:0px;
padding:0px 0px 0px 5px!important;
}

.top{
	margin-top:0px;
}



.itembox .boxrow {
    color: #000;
    display: block;
    float: left;
    font: 11px "Open Sans" !important;
    margin: 0;
    padding: 0 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    width: 15%;
}

.itembox .boxhead {
    color: #000;
    display: block;
    float: left;
    font: bold 14px "Open Sans" !important;
    margin: 0;
    padding: 15px 0 0;
    text-decoration: none;
    text-transform: capitalize;
    width: 15%;
}

.itembox .item_row .totaltitle {
    color: #000;
    display: block;
    float: left;
    font: 16px "Open Sans" !important;
    margin: 0;
    padding: 0 0 10px;
    text-decoration: none;
    width: 57%;
}
.itembox .total {
    float: right;
    width: 100%;
}
.placeorder_button {
    background: none repeat scroll 0 0 #de563f;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font: 18px "Open Sans",sans-serif;
    margin: 25px 0 0;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.control-newsletter{
	width:100%;
	float:left;
}
.control-newsletter p{
	color:#000;
	width:100%!;
	float:left;
	font-size:14px;
	margin:20px 0px 0px 0px;
	text-align:left;
}
.inner-blk {
    margin:0px 0px!important;
 
}
.pager2{
	margin-left:0px;
}

.picture_container img {
    border: 1px solid #bababa;
    width: 97%;
}
.picture_container  .thumbnail_picture img{
	 border: 1px solid #bababa;
    width: 100%!important;
}
.picture_container .thumbnail_picture figure {
    border: 4px solid #bababa;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: left;
    padding: 0;
    width:75px!important;
}
.thumbnail_picture .bx-viewport {
    max-width: 90% !important;
	margin:0px auto;
}
.thumbnail_picture .controls3 {
    left: 0px!important;
    position: relative;
    top: -55px;
    width: 100%;
    z-index: 1000;
}

.suggested-grid h2 {
    border-bottom: 3px solid #fff;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 0 0 10px;
    text-transform: uppercase;
    width: 99%;
}
.suggested-grid  li {
    border: 1px solid #ebddc0;

    display: block;

    float: left;
    margin: 0px;
     padding: 8px 6px 8px 8px;
    width:100%;
	background:#ebddc0;
	text-align:center;
	min-height:350px;
}
  .responsive-delete{
	  display:block;
  }
  
  .cart .cart-totals {
    clear: both;
    content: "";
    display: table;
    width: 97%;
}

.cart-totals, .cart-forms .discount, .cart-forms .giftcard, .cart-forms .shipping {
    background: none repeat scroll 0 0 #ebddc0;
    border-radius: 5px;
    float: left;
    max-width: 97%;
    padding: 10px 25px 25px;
}
.header-cart {
    display: none;
}

.header-minicart{
	  display: none;
	}
.resheader-cart{
	  display:block;
	  color:#fff;
  }
  .resheader-cart a {
	
	 color:#fff;
  }
  
  .dropdown{
	  display:block!important;
  }
  .country-sort select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 5px;
    color: #646464;
    font-size: 10px;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 5px;
    padding: 0;
    width: 100%;
}

.control {
    float: left;
    margin: 10px 0;
    width: 100%;
}

.mcodes label {
    width: 100% !important;
}

.order-review {
    background: none repeat scroll 0 0 #ebddc0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 50px;
    max-width: 500px;
    padding: 10px 8px 25px;
    width: 100%;
}

.itembox .boxrow:first-child {
    color: #b32200;
    font: 12px "Open Sans" !important;
    text-transform: capitalize !important;
    width: 27% !important;
}
.itembox .boxhead:first-child {
    width:27% !important;
}
.control {
    float: left;
    margin: 10px 0 0 15px;
    width: 100%;
}
   .navbar-header{
    display:block;
   }
   
      .push-menu{
   float:left;
   width:100%;
  
   }
   
 .featured_products .featured_products_item {
	
	margin:  0 27px 0px 6px !important;
	padding:10px 10px 50px;
 }
 
 .nav-bottom .btn {
    font-weight: 600;
    margin: 6px 2px 0;
    padding: 3px 4px;
}


#search {
    font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
    height: 40px;
    padding-right:0px;
    width: 100%;
}



.navbar-header {
    background: none repeat scroll 0 0 #e2e2e2;
    border: 1px dotted #666666;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    line-height: 10px;
    margin: 0 auto !important;
    padding-left: 0;
    width: 100%;

}
.navbar-brands {
    color: #666666;
    line-height: 50px;
    padding: 0 11px;
}

.order-review {
    background: none repeat scroll 0 0 #ebddc0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    float: left;
    margin-bottom: 50px;
    margin-left: 0px;
    max-width: 500px;
    padding: 10px 10px 25px;
    width: 100%;
}
.checkout h3 {
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 20px 0px;
    text-transform: uppercase;
    width: 100%;
}

.address input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 0 !important;
    padding: 10px;
    width: 100% !important;
}

#review-buttons-container .btn-checkout {
    min-width: 100%;
}

.itembox .boxrow:last-child {
    color: #b32200;
    font-weight: 600;
    padding-left: 0px;
    width: 20% !important;
	  padding:0px 30px;
}
.itembox .boxhead:last-child {
    padding: 15px 24px;
    width: 20% !important;
}
.itembox .boxhead {
    color: #000;
    display: block;
    float: left;
    font: bold 12px "Open Sans" !important;
    margin: 0;
    padding: 15px 0 0;
    text-decoration: none;
    text-transform: capitalize;
    width: 15%;
}

.cart-table .cart-links {
    float: left;
    padding-right: 5px;
    padding-top: 0;
    width: 67%;
}
.cart-table .product-cart-actions {
    float: left !important;
    margin: 0 0 0 20px;
    min-width: 65px;
    text-align: center;
}


.button2 span, .button2 span span {
    color: #fff;
    display: inline-block;
    font: 12px "Open Sans";
    height: 30px;
    margin: 4px 7px;
    text-align: center;
    text-transform: uppercase;
}
.products-list > li .product-image {
    float: left;
    width: 97%;
}

.products-list .product-shop {
    float: right;
    margin-top: 10px;
    padding-left: 0;
    width: 100%;
}

.list-description {
    color: #fff;
    float: left;
    margin-top: 7px;
    padding-left: 0;
    width: 97%;
}
.products-list .product-shop .product-primary, .products-list .product-shop .desc {
    color: #fff;
    float: left;
    padding-left: 0px;
    width: 100%;
}


.opc-wrapper-opc .validation-advice {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ff0000;
    float: left;
    padding-left: 0!important;
}

.input-box .v-fix {
    float: left;
    margin-right: 5px;
    width: 100%;
}
.country-sort-1 {
    float: left;
    width: 100%;
}

.country-sort-1  input {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    float: left;
    height: 40px;
    margin-bottom: 23px;
    margin-left: 5px;
    padding: 10px;
    width: 100% !important;
}
.form-inline .input-groups {
    float: left;
    margin: 10px 0 10px 4%!important;
    width: 100% !important;
}

.btns {
    background: none repeat scroll 0 0 #196087;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    margin: 0 !important;
    padding: 0 4px!important;
    width: auto;
}
.category-block .cb .cb-area h3 {
    font: 800 14px "Open Sans",sans-serif;
}
.category-block .cb .cb-area {
    border-radius: 5px;
    font-size: 12px!important;
    line-height: 15px;
    min-height: 235px!important;
    overflow: hidden;
    padding: 20px 30px;
}
.featured-slider .item {
    border: medium none;
    padding: 0 16px!important;
}

.customer-name .select-box{
		width:100%!important;
	}
	
	#my-orders-tablediv{
	display:block!important;
}
#my-orders-table{
	display:none!important;
}


}

/*@media screen and (min-device-width: 480px) and (max-device-width: 767px) { 
    .featured-products .featured-slider{
		background:url(../images/divider-line.png) repeat-y top center;
	}
		.logo{
		padding:10px 0px;
		text-align:center;
	}
	
	}
}
@media screen and (min-device-width: 769px) and (max-device-width: 1000px) { 
    .featured-products .featured-slider{
		background:none;
	}
}*/



/* CSS Document */

/* CSS Document */








