﻿
/* CSS Document */

@charset "utf-8";
/* CSS Document */

@charset "utf-8";
@charset "utf-8";
/* CSS Document */

@import url('owl.carousel.css');
@import url('font-awesome.min.css');
@import url('animate.css');

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,300,800);
@font-face {
  font-family: 'UniSansHeavyCAPS';
  src: url('../fonts/UniSansHeavyCAPS.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/UniSansHeavyCAPS.otf')  format('opentype'),
	     url('../fonts/UniSansHeavyCAPS.woff') format('woff'), 
		 url('../fonts/UniSansHeavyCAPS.ttf')  format('truetype'), 
		 url('../fonts/UniSansHeavyCAPS.svg#UniSansHeavyCAPS') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniSansThinCAPS';
  src: url('../fonts/UniSansThinCAPS.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/UniSansThinCAPS.otf')  format('opentype'),
	     url('../fonts/UniSansThinCAPS.woff') format('woff'), 
		 url('../fonts/UniSansThinCAPS.ttf')  format('truetype'), 
		 url('../fonts/UniSansThinCAPS.svg#UniSansThinCAPS') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
	outline:none !important;
}
body{
	background:#160300;
	font:400 16px/25px 'Open Sans', sans-serif;
	color:#a8a196;
	padding-top:94px;
	 overflow-x:hidden;
}
img{
	/*max-width:100%;*/
}
.nobdr{
	border:none !important;
}
.nomargin{
	margin:0 !important;
}
.nopadding{
	padding:0 !important;
}
.text-danger {
    color: #f52812;
}
.btn-danger{
	background-color:#e74a36;
	border-color:#e74a36;
}
.btn-success{
	background-color:#89c64c;
	border-color:#89c64c;
}
.navbar-toggle{
	background-color:#196087;
}
.navbar-toggle .icon-bar{
	background-color:#fff;
}
.nav-top{
	min-height:54px;
	background:#fff;
	color:#777777;
	font-size:14px;
}
.nav-top .intro-txt{
	line-height:54px;
}
.nav-top .intro-txt .text-danger{
	font-weight:600;
}
.navbar-nav{
	font-weight:600;
	
}
.navbar-nav > li > a{
	padding-left:8px;
	padding-right:7px;
	line-height:24px;
	color:#000;
}


.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a{
	color:#f52812;
	background:none;
}
.nav-bottom{
	background:#196087;
	min-height:40px;
	font-size:14px;
	font-weight:600;
}
.navbar-brand{
	color:#fff;
	padding-left:0;
	font-size:14px;
	font-weight:600;
	height:40px;
	line-height:10px;
	
}
.navbar-brand:hover{
	color:#fff;
}
.navbar-header{
	color:#666666;
	padding-left:0;
	font-size:14px;
	font-weight:600;
	height:40px;
	line-height:10px;
	border:1px #666666 solid;
	width:100%;
	margin:0px auto;
}
.navbar-brands{
	color:#666666;
	
}
.navbar-brands:hover{
	color:#666666;
}
.tracking-table-popup .data-table th {
	color:#000!important;
}

#tracking-table-popup-0 .data-table th {
	color:#000!important;
}
#tracking-table-popup-0 .data-table td{
	color:#000!important;
}
.product-options .option-required{
 font-size:12px; color: #fff
}
.social-icons{
	font-size:26px;
	float:left;
	margin-right:8px;
}
.social-icons a{
	color:#9ac5dd;
	display:inline-block;
	margin:5px 0;
	transition:all ease-in-out 200ms;
}
.social-icons a:hover{
	color:#fff;
}
.header-cart {
    background: url(../images/cart-top.png) no-repeat scroll left 12px rgba(0, 0, 0, 0);
    color: #dedede;
    float: right;
    line-height: 37px;
    margin-left: 15px;
    margin-right: 14px;
    padding-left: 20px;
}
.header-cart span{
	color:#fff;
	font-weight:400;
}
.nav-bottom .btn{
	font-weight:600;
	padding:3px 10px;
	margin:6px 2px 0 2px;
}
.banner-container{
	background:#e8c8ad;
	text-align:center;
}

.banner-container img{
	max-width:100%;
	width:100%;
}
.home-banner .owl-pagination{
	height:30px;
	background:url(../images/banner-nav-bg.png) repeat-x center top;
	text-align:center;
}
.home-banner .owl-pagination .owl-page{
	width:20px;
	height:20px;
	background:#2f0400;
	display:inline-block;
	margin:5px;
	border-radius:100%;
}
.home-banner .owl-pagination .owl-page.active{
	background:#2f0400 url(../images/owl-active.png) no-repeat center center;
}
.wooden-bg{
	background:url(../images/wooden-bg.jpg) repeat-x top center;
}
.category-block{
	margin:70px 0;
}
.category-block h2{
	font:57px 'UniSansThinCAPS';
	color:#fff;
	padding:20px 0;
}
.category-block h2 .spabout{
  color: #fff;
  font:bold 25px 'UniSansThinCAPS';
}
.category-block h2 span{
	font-family:'UniSansHeavyCAPS';
	color:#d09f5d;
}
.category-block .cb{
	margin:50px 0;
	color:#fff;
	text-align:left;
}
.category-block .cb .green-color{
	background:#89c64c;
}
.category-block .cb .orange-color{
	background:#f69038;
}
.category-block .cb .sky-color{

	background:#57c4c2;
}
.category-block .cb .cb-area{
	padding:20px 30px;
	border-radius:5px;
	overflow:hidden;
	font-size:13px;
	line-height:15px;
	min-height:235px;
}
.category-block .cb .cb-area img{
	float:left;
	margin-right:25px;
}
.category-block .cb .cb-area h3{
	font:800 20px 'Open Sans', sans-serif;
}
.category-block .cb .cb-area a{
	color:#274509;
	font-size:14px;
	font-style:italic;
	font-weight:600;
}
.category-block .view-all{
	background:url(../images/orange-border.png) repeat-x center center;
}
.category-block .view-all a{
	font:20px 'UniSansHeavyCAPS';
	color:#fff;
	display:inline-block;
	padding:14px 35px;
	background:#de563f;
	border-radius:40px;
	transition:all ease-in-out 200ms;
}
.category-block .view-all a:hover{
	text-decoration:none;
	background:#ce3920;
}

.category .block-subtitle h2{
    border-bottom: 3px solid #fff;
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 8px;
    padding: 0 0 10px;
    text-transform: uppercase;	
}
.featured-products{
	background:#ebddc0;
	padding:40px;
	color:#000;
	border-radius:6px;
	margin-bottom:30px;
}
.featured-products h2{
	font:36px 'UniSansHeavyCAPS';
	margin:10px 0 40px;
}
.featured-products .featured-slider{
	background:url(../images/divider.png) repeat-y top center;
}
.featured-slider .item{
	padding:0 50px;
	/*border-right:1px solid #c09d7b;*/
}
/*.featured-slider .owl-item:nth-child(3n) .item{
	border-right:none;
}*/

.featured-slider .owl-controls{
	position:absolute;
	top:80px;
	left:0;
	right:0;
}
.featured-slider .owl-controls .owl-prev{
	width:22px;
	height:36px;
	position:absolute;
	left:0;
	top:0;
	font-size:0;
	background:url(../images/owl-prev.png) no-repeat;
}
.featured-slider .owl-controls .owl-next{
	width:22px;
	height:36px;
	position:absolute;
	right:0;
	top:0;
	font-size:0;
	background:url(../images/owl-next.png) no-repeat;
}
.featured-slider .featured-thumb{
	margin-bottom:25px;
}
.featured-slider .featured-thumb img{
	border-radius:5px;
	min-width:135px;
	max-height:135px;
	width:auto;
}
.featured-slider .featured-title{
	font:700 22px 'Open Sans', sans-serif;
	color:#b32200;
	margin:15px 0;min-height:auto;
}
.featured-slider .featured-desc{
	margin:15px 0;
	font:600 14px/20px 'Open Sans', sans-serif;
}
.featured-slider .featured-price{
	margin:15px 0;
	font:600 18px 'Open Sans', sans-serif;
	text-transform:uppercase;
}
.featured-slider .featured-btn{
	margin:15px 0;
}
.featured-slider .featured-btn .btn{
	background:#803d14;
	color:#fff;
	font:700 13px 'Open Sans', sans-serif;
	border-radius:0;
	transition:all ease-in-out 200ms;
}
.featured-slider .featured-btn .btn-group:hover .btn{
	background:#4f240a;
}
.featured-slider .featured-btn .btn:first-child{
	margin-right:4px;
}
.testimonials{


	padding:50px 0;
	font-size:14px;
	line-height:22px;
}
.testimonials h2{
	font:36px 'UniSansHeavyCAPS';
	color:#d09f5d;
	margin:0 0 40px;
}
.testimonials .client-thumb{
	margin:20px 0 25px;
	height:240px;
}
.testimonials .client-thumb img{
	border:7px solid #483b39;
}
.testimonials .client-desig{
	font-weight:600;
	color:#fff;
}
.testimonials .client-desig span{
	font-style:italic;
	color:#f69038;
	padding-right:4px;
}



.site-footer .footer-top{
	border-top:4px double #41271c;
	border-bottom:1px solid #41271c;
	padding:20px 0;
}
.site-footer .footer-top h3{
	margin:15px 0;
	color:#d09f5d;
	font-size:20px;
}
.site-footer .footer-top ul{
	margin:0;
	padding:0;
}
.site-footer .footer-top ul li{
	text-transform:uppercase;
	font-size:14px;
	list-style:none;
}
.site-footer .footer-top ul li a{
	color:#a8a196;
	transition:all ease-in-out 200ms;
	text-decoration:none;
}
.site-footer .footer-top ul li a:hover{
	color:#fff;
}
.footer-newsletter p{
	font-size:13px;
	line-height:18px;
}
.footer-newsletter .form-inline{
	margin-top:30px;
	
}
.footer-newsletter .form-inline .form-control{
	font-size:13px;
	font-style:italic;
	background:#352420;
	border:none;
	color:#c9c9c9;
}
.footer-newsletter .form-inline .input-group{
  width:100%;
  float: none !important;

}
.footer-newsletter .btn-default{
	background:url(../images/wooden-btn.png) no-repeat center center;
	border:none;
	font-size:15px;
	font-weight:600;
	color:#cec4b0;
}
.footer-social ul{
	margin:0;
	padding:0;
}
.footer-social ul li{
	list-style:none;
	display:inline-block;
}
.footer-social ul li a{
	font-size:15px;
	display:inline-block;
	width:30px;
	height:30px;
	background:#524343;
	line-height:30px;
	text-align:center;
	border-radius:100%;
	color:#160300 !important;
}
.footer-social ul li a:hover{
	background:#ac9292;
}
.site-footer .footer-logo{
	margin-top:15px;
}
.copyright{
	font-size:14px;
	padding:20px 0;
	color:#77563f;
}
.copyright strong{
	font-weight:600;
}
.site-footer .footer-links, .site-footer .footer-newsletter{
	border-right:1px solid #3d2419;
}


/*=============== modified style============ */

.featured-slider .item{padding : 0 30px;}

.hmenu{font-size: 15px;float: left;padding:5px;}
.hmenu a:hover{color:#fff;text-decoration: none;}






	/*-----------------------About page--------------*/
	.no-padding{
		padding-left:0px;
	}
	.logo{
		padding:10px 0px;
		text-align:left;
	}
	.logo a img {
    max-width: 150px;
}
	
	 .form-inline{

	width:92%;
	
}
.form-inline .input-groups {
    float: left;
    margin: 10px 32%;
    width: 75% !important;
}
.form-controls{
	box-shadow:none;
	height:40px;
	font-style:normal;
}
.btns {
    background: none repeat scroll 0 0 #196087;
    border: medium none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    margin: 0 !important;
    padding: 0 15px;
    width: auto;
}
.form-inline .input-group{
	float:right;
}
.input-groups {
    float: left;
    margin: 10px 0 10px 32%;
    width: 58% !important;
}
.form-inline-right {
    float: right !important;
}

.form-controls {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width:100%;
	float:left;
	max-width:345px!important;
}

.inner-bg{
	background:url(../images/inner-bg.jpg) no-repeat top center #7d5434;
	
	
}
.inner-blk{
	width:100%;
	margin:100px 0px;
}
.inner-blk h1{
	font-size:20px;
	font-weight:600;
	color:#fff;
	text-transform:uppercase;
}

.inner-blk h2{
	font-size:18px;
	font-weight:600;
	color:#fff;
	text-transform:capitalize;
	font-weight:normal;
	margin:0px;
	padding:0px;
}
.inner-blk h2 a{
	color:#fff;
	text-decoration:none;
	text-transform:lowercase;
	
}
.inner-blk p{
	color:#fff;
	font-size:16px;
}

.bredcrumb {
    margin: 0px 0 0px 0;
    padding: 0;
    width: 100%;
	
}
.bredcrumb ul {
    float: left;
    margin: 0;
    padding: 0 0 0 0px;
    width: auto;
}
.bredcrumb li {
    display: block;
    float: left;
    list-style: outside none none;
    padding: 0;
}
.bredcrumb li a {
    color: #000;

    display: block;
    float: left;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    margin: 0 10px 0 0;
    padding: 0;
    text-decoration: none;
	text-transform:uppercase;
}
.bredcrumb li::after {
    color: #fff;
    content: "/";
    display: block;
    float: left;
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    padding: 0 5px;
}
.bredcrumb li:last-child::after {
    content: " ";
    padding: 0;
}
.bredcrumb li a.active {
    color: #000;
	text-transform:uppercase;
}
.bredcrumb li a:last-child {
    margin-right: 0;
}
.bredcrumb span.active {
    color: #fff;
    display: block;
    font-size: 0.75em;
	text-transform:uppercase;
}

	/*-----------------------About page End--------------*/




	/*-----------------------List page --------------*/
.top-link {
    margin: 20px 0 10px 0;
    padding: 0;
    width: 99%;
	border-bottom:1px #fff solid;
	padding-bottom:10px;
}
.top-link ul {
    float: left;
    margin: 0;
    padding: 0 0 0 0px;
    width: auto;
}
.top-link li {
    display: block;
    float: left;
    list-style: outside none none;
    padding: 0;
	text-transform:uppercase;
}
.top-link li a {
    color: #fff;
    display: block;
    float: left;
    font-family: "Open Sans";
    font-size:15px;
    font-weight: 600;
    margin: 0 10px 0 0;
    padding: 0;
    text-decoration: none;
	text-transform:uppercase;
}
.top-link li::after {
    color: #fff;
    content: "";
    display: block;
    float: left;
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    padding: 0 5px;
}
.top-link li:last-child::after {
    content: " ";
    padding: 0;
}
.top-link li a.active {
    color: #89c64c;
	text-transform:uppercase;
	font-size:15px;
}
.top-link li a:last-child {
    margin-right: 0;
}
.top-link span.active {
    color: #89c64c;
    display: block;
    font-size: 15px;
}
.pager2{
	margin-left:-36px;
}
#narrow-by-list {
    margin: 0;
    padding: 0;
    width: 98%;
	float:left;
}

#narrow-by-list .category {
    display: block;
    float: left;
    margin: 0 0PX 20PX 0PX;
    padding: 0 ;
    width: 100%;
}
#narrow-by-list .category span:first-child {
    margin-top: 0;
}
#narrow-by-list .category h2 {
    border-bottom: 3px solid #fff;
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    margin: 15px 0 8px;
    padding: 0 0px 10px 0px;
	font-weight:600;
    text-transform: uppercase;
}
#narrow-by-list .category li:first-child {
    color: #FFF;
}

#narrow-by-list .category ul{
	padding:0px;
	
}
#narrow-by-list .category li {
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
#narrow-by-list .category li a {
	 color: #fff;
	 text-decoration:none;
	
}
.rslider {
    margin-top: 10px;
}
.rslider #track, .rslider #range, .rslider .handle {
    background-image:url(../images/slider.png);
}
.rslider #track {
    background-position: -2px 0;
    height: 5px;
    position: relative;
}
.rslider #range {
    background-position: 0 -20px;
    background-repeat: repeat-x;
    border: 1px solid #fff;
    height: 5px;
    position: absolute;
    width: auto;
}
.rslider .handle {
    background-position: -7px -38px;
    cursor: pointer;
    height: 15px;
    position: absolute;
    top: -4px;
    width: 13px;
}
.rslider .values {
    margin-bottom: 10px;
    overflow: hidden;
	padding-top:1px;
}
.rslider #from-val {
    float: left;
}
.rslider #to-val {
    float: right;
}

#track #to {
    height: 20px;
    width: 19px;
}
.rslider #track #from {
    height: 20px;
    width: 19px;
}
.rslider .values {
    font-size: 12px;
}


.category .regular-checkbox {
    display: none;
}
.category .regular-checkbox + label {
    border: 1px solid #ccc;
	background:#fff;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-right: 17px;
    margin-top: 2px;
    padding: 6px;
    position: relative;
    top:7px;
	
}
.category .regular-checkbox:checked + label {
    color: #ccc;
    padding:6px;
}
.category .regular-checkbox:checked + label::after {
    color: #6f4d32;
    content: "✔";
    font-size: 11px;
    font-weight:600;
    left: 2px;
    line-height: 16px;
    position: absolute;
    top: -2px;
}
#product_grid_container{
    margin: 13px 0PX 0PX 20PX;
    padding: 0;
    width: 100%;
	float:left;
}

#product_grid_container  h1 {
  
    color: #fff;
    display: block;

    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    margin:0px 0 8px;
    padding: 0 0px 4px 0px;
	font-weight:600;
    text-transform: uppercase;
	width:98%;
}

.products-grid{
	margin: 0;
    padding: 0 0px 0px 0px;
	width:100%;
}
.products-grid ul {
margin:0px 0px 0px 2%;
padding:0px;
width:100%;	
}
.products-grid  li {
    border: 1px solid #f1f1f1;
    display: block;
    float: left;
    margin: 0 2% 2% 0;
    padding: 6px;
    width: 22%;
	background:#f5eee0;
	text-align:center;
}
.products-grid li:first-child {
    margin-left: 0;
}
.products-grid .price-box .pricelabel{
	display:none!important;
}
.image {
    display: block;
    margin: 0 0 8px !important;
    padding:0;
    text-align: center;
}
.image img {
    max-width: 100%;
	border:1px #c5c3c3 solid;
}

.products-grid .name a {
    font: 13px "Open Sans";
	color:#b32200;
	text-transform:uppercase;
	font-weight:600;
	
}

.products-grid .weight {
    font: 12px "Open Sans";
	color:#000;
	text-transform:uppercase;
	font-weight:600;
	padding:15px 0px 5px 0px 
	
}


.products-grid.regular-price {
    color: #000;
	font-weight: normal;
	font-size: 13px;
}
.products-grid .regular-price .price {
    color: #000;
    font-size: 16px;
    font-weight:600;
/*	text-decoration:line-through;
*/	padding-right:3px;
}
.icon-set {
	text-align:center;
	margin-top:15px;

	
	}
	

	
	
	.top-container{
		width:98%;
		margin:0px 0px 15px 0px;
		padding:8px 0px 10px 0px;
		border-bottom:1px #fff solid;
		clear:both;
		float:left;
		border-top: 3px solid #fff;
		height:54px;

	}
	
	.top-container .sort{
		color:#fff;
	}
	.top-container .sort span{
		float:left;
		padding:5px 10px 0px 0px;
	}
	.top-container .sort  small{
		float:left;
		padding:5px 10px 0px 0px;
		text-transform:uppercase;
		font-size:14px;
		font-weight:bold;
	}
		.top-container .sort img{
		float:left;
		padding:8px 0px 8px 15px;
	}
	
	
		.top-container .view{
		color:#fff;
		padding: 0 10%;
	}
	.top-container .view span{
		float:left;
		padding:5px 0px 0px 0px;
	}
	
		.top-container .view .list-view{
		float:left;
		padding:5px 0px 0px 15px;
	}
	
		.top-container .view .grid-view{
		float:left;
		padding:5px 0px 0px 15px;
	}
	
	
	.sort-by {
    width: 60%;
	float:left;
}
.sort-by select {
    -moz-appearance: none;
    border: 1px solid #c5c3c3;
    padding-left: 15px;
    text-indent: 0.01px;
    text-overflow: "";
}
.sort-by select option {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
}
.sort-by select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 0px;
    height: 35px;

    margin-left: 20px;
    padding-bottom: 10px !important;
    padding-top: 5px;
    width: 90%;
	color:#646464;
	font-size:14px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sort-by select option {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    border-radius: 0;
    height: 30px;
	color:#646464;
}



.show {
    width: 17%;
	float:left;
}
.show select {
    -moz-appearance: none;
    border: 1px solid #c5c3c3;
    padding-left: 15px;
    text-indent: 0.01px;
    text-overflow: "";
}
.show select option {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
}
.show select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 94% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 0px;
    height: 35px;
    margin-left: 20px;
    padding-bottom: 10px !important;
    padding-top: 5px;
    width: 90%;
	color:#646464;
	font-size:14px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.show select option {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    border-radius: 0;
    height: 30px;
	color:#000;
}
.view a {
  
    margin: 10px 0 0 15px;
}
	
		.list{
		float:left;
		padding:15px 0px 0px 15px;
		background: url('../images/list-2.png')   no-repeat;
		text-indent:-9999px;
	}
	
		.grid{
		float:left;
		padding:15px 0px 0px 15px;
		background: url('../images/list-1.png')  no-repeat;
		
		text-indent:-9999px;
	}

	/*-----------------------List page End--------------*/



	/*-----------------------Product Detail page --------------*/




.picture_container {
    margin: 0;
    padding: 0;
    width: 100%;
	position:relative;
}



.picture_container .bx-wrapper {
    max-width: 100% !important;
    width: 100% !important;
}
.picture_container img {
    border: 1px solid #bababa;
    width: 100%;
}
.picture_container .thumbnail_picture {
    display: block;
    float: left;
    margin: 3% 0 0 2%;
    padding: 0 0px;
    position: relative;
    width: 100%;
}


.picture_container .thumbnail_picture figure {
    border: 4px solid #bababa;
    display: block;
    float: left;
    cursor:pointer;
    padding: 0;
	border-radius:4px;
}
.picture_container .thumbnail_picture .active {
    border: 4px solid #d09f5d;
    display: block;
    float: left;
   
    padding: 0;
	border-radius:4px;
}


.thumbnail_picture .bx-wrapper {
    max-width: 100% !important;
    width: 100% !important;
}

.thumbnail_picture .bx-viewport {
  max-width:95%!important;
}
.product_description {
    margin: 0;
    padding: 0;
    width: 100%;
}



.product_description .heading h2 {
    color: #fff;
    display: block;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0 0px 10px 0px;
	text-transform:uppercase;
	border-bottom:2px #fff solid;
	font:400 24px'Open Sans', sans-serif;
}


.product_description .heading h5 {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 0px 0px;
    padding: 10px 0 0px 0px;
	text-transform:uppercase;
}
.product_description .heading h5 span{
	font-weight:bold;
}
.product_description p {
    color: #e8e8e8;
    display: block;
    float: left;
    font: 500 15px "Open Sans";
    margin: 0;
    padding: 3% 0 0;
    width: 100%;
}
.zoom {
	text-align:center;
	font-size:15px;
	line-height:30px;
	color:#fff;
}
.zoom a{
	color:#fff;
	text-decoration:none;
}


.p-qty-1 {
    padding: 0;
	width:100%;
	float:left;
	margin:20px 0px 0px 0px!important;
}


.p-qty-1 .span-1 {
    width: auto;
}

.p-qty-1 span {
    width: auto;
	color:#fff;
	margin:7px 0px 0px 0px;
	float:left;
	font-weight:bold!important; 
}




.pro-qty {
    padding: 0;
	width:100%;
	float:left;
	margin:20px 0px 0px 0px!important;
}



.pro-qty .span-1 {
    width: auto;
}

.pro-qty span {
    width: auto;
	color:#fff;
	margin:7px 0px 0px 0px;
	float:left;
	font-weight:bold!important; 
}

.span-1 {
    line-height: 30px;
    padding: 0 10px 0 0;
	color:#fff;
	text-transform:uppercase;
}
.cart-part .field span, .span-1 {
    color: #e8e8e8;
    display: block;
    float: left;
    font: 500 18px "Open Sans";
    margin: 0;
    padding:6px 6px 0 0;
    width: 54px;
}

input.qty {
    width: 2em!important;


	background: none repeat scroll 0 0 #fff;
    border: 1px solid #b6b6b6;
	border-radius:6px;
	padding:6px;
	text-align:center;
	color:#555555;
	height:40px;
	font: 500 18px "Open Sans";
}


.qty-1 {
    width: 5em !important;
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #b6b6b6;
	border-radius:6px;
	padding:6px;
	text-align:center;
	color:#000;
	font-weight:500;
}
.price-box{
    color: #fff;
    float: left;
    font: 18px/0px "Open Sans";
    margin: 0;
/*    padding: 19px 0;
*/    text-transform: uppercase;
	width:100%;
}

.price-box1{
    color: #fff;
    float: left;
    font: 18px/0px "Open Sans";
    margin: 0;
    padding: 0px 0;
    text-transform: uppercase;
	width:100%;
}

.price-box1 .price{
    color: #fff;
    font-size: 16px;
	  padding: 0 0 0 5px;
	margin:0px;
	float:left;
	 font-weight:bold;
}

.price-box span{
   font-weight:normal;
   line-height:30px;

}

.price-box .pricelabel{
	display:none;
}
 .instock{
 margin: 20px 0 5px 5px;
 background:url(../images/instock.png) 0% 15% no-repeat;

 color:#e8e8e8;
 text-transform:uppercase;
 font-size:18px;
 padding:0px 0px 10px 25px;
 width:100%;
 float:left;
}
 .outstock{
 margin: 5px 0 5px;
 background:url(../images/outstock.png) 0% 15% no-repeat;
 color:#e8e8e8;
 text-transform:uppercase;
 font-size:18px;
 padding:0px 0px 10px 25px;
 width:100%;
 float:left;
}
.product_description .add_to_cart{
    background-image:url(../images/add-cart-icon.png);
	background-repeat:no-repeat;
	background-position:10% 50%;
	background-color:#de563f;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    height: 42px;
    line-height: 40px;
    margin: 20px 0px 20px 0px;
    padding:0px 0px 0px 35px ;
    text-align: center;
    text-transform: uppercase;
    width:170px;
}


.product_description .wishlist {
    display: block;
    float: left;
    margin: 0px 0 0 0px;
    padding: 0;
	width:100%;
}
.featured_products .controls2 {
   position: absolute;
    right: 11px;
    top: -10px;
    width: auto;
}
.featured_products .controls2 .prev {
	background:url(../images/prev.png) no-repeat scroll 0px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    font-size: 0;
    height: 31px;
    margin-right: 5px;
    width: 31px;
}
.featured_products .controls2 .next {
	background:url(../images/next.png) no-repeat scroll -31px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: right;
    font-size: 0;
    height: 32px;
    width: 31px;

}
.featured_products .controls2 .prev:hover {
    background-position: -30px 0;
}
.featured_products .controls2 .next:hover {
    background-position: 0px 0;
}




.featured_products .controls2 {
   position: absolute;
    right: 11px;
    top: -10px;
    width: auto;
}
.featured_products .controls2 .prev {
	background:url(../images/prev.png) no-repeat scroll 0px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    font-size: 0;
    height: 31px;
    margin-right: 5px;
    width: 31px;
}
.featured_products .controls2 .next {
	background:url(../images/next.png) no-repeat scroll -31px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: right;
    font-size: 0;
    height: 32px;
    width: 31px;

}
.featured_products .controls2 .prev:hover {
    background-position: -30px 0;
}
.featured_products .controls2 .next:hover {
    background-position: 0px 0;
}



.thumbslide{
	margin-left:23px;
}




.thumbnail_picture .controls3 {
 left: 0;
    position: relative;
    top: -55px;
    width: 100%;
    z-index: 1000;
    left:-8px;
}

.thumbnail_picture .bx-wrapper{

max-width: 100% !important;
    width: 100% !important;

	}

.thumbnail_picture .controls3 #prevmedia {
	background:url(../images/prev-media.png) no-repeat scroll 0px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    font-size: 0;
    height: 31px;
    margin-right: 5px;
    width: 31px;
	position:re;
	top:30px;
	
}
.thumbnail_picture .controls3 #nextmedia {
	background:url(../images/next-media.png) no-repeat;
    cursor: pointer;
    float: right;
    font-size: 0;
    height: 32px;
    width: 31px;
    position:relative;

}



.suggested-grid {
	width:100%;
	margin:30px 0px  0px 0px;
	padding:0px;
	position:relative;
}


.suggested-grid  h2 {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px 0px;
    padding: 0 0px 10px 0px;
	text-transform:uppercase;
	border-bottom:3px #fff solid;
	width:99%;
}
.suggested-grid  ul {
margin:0px;
padding:0px;
width:100%;	
}
.suggested-grid  li {
    border: 1px solid #ebddc0;
    display: block;
    float: left;
    margin: 0 2% 2% 0;
     padding: 8px 6px 8px 8px;
    width:18%;
	background:#ebddc0;
	text-align:center;
	min-height:350px;
}
.suggested-grid li:first-child {
    margin-left: 0;
}

.image {
    display: block;
    margin: 0 0 8px !important;
    padding:0;
    text-align: center;
}
.image img {
    max-width: 100%;
	border:2px #d09f5d solid;
}

.suggested-grid .name a {
    color: #b32200;
    font: 600 16px "Open Sans";
    text-transform: uppercase;
}
.suggested-grid  .weight {
    font: 14px "Open Sans";
	color:#000;
	text-transform:uppercase;
	font-weight:600;
	padding:10px 0px 5px 0px ;
	text-decoration:none;
	
}



.suggested-grid .regular-price {
    color: #000;
	font-weight: normal;
	font-size: 16px;
}
.suggested-grid .regular-price span {
    color: #000;
    font-size: 16px;
    font-weight:600;
/*	text-decoration:line-through;
	padding-right:3px;*/
}

.suggested-grid .bx-wrapper {
    max-width: 100% !important;
    width: 100% !important;
}


.suggested-grid  .buttons {
    bottom: 0;
    margin: 10px 0px 0px 0px;
    padding: 0;
    text-align: center;
    width: 100%;
	clear:both;
	float:left;
	
}
.suggested-grid  .buttons .btn1 {
    background:url(../images/cart-thumb.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 2px;
    padding: 0;
    width: 29px;
}
.suggested-grid  .buttons .btn1:hover {
    background:url(../images/cart-thumb-hover.png) no-repeat;
}

.suggested-grid  .buttons .btn2 {
    background:url(../images/wishlist-thumb.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 2px;
    padding: 0;
    width: 29px;
}
.suggested-grid  .buttons .btn2:hover {
    background:url(../images/wishlist-thumb-hover.png) no-repeat;
}
	/*-----------------------Product page End--------------*/	
	
	
	/*-----------------------Testimonial page End--------------*/
	
	.testimonials .client-wrapper{
	margin:20px 0 25px 0px;
	background:#ebddc0;
	padding:30px 15px;
	min-height:450px;
	width:263px;
}
		
.testimonials .client-thumb-pic{
	margin:20px 0 25px;
}
		
.testimonials .client-thumb-pic img{
	 border: 1px solid #c09e7d;
}	
.testimonials .client-thumb-pic img{
	width:50%;
	height:auto;
}
.testimonials .testi-con p{
	font-size:14px;
	color:#000;
	font-weight:600;
	opacity:0.8;
	padding:10px 0px 0px 0px;
}
.testimonials .testi-con span{
	text-align:left;
	display:block;
	padding:5px 10px 5px 25px;
	font-size:14px;
	margin:0px 0px 0px 0px;
	color:#000;
	font-weight:500;
	height:200px;
	
}
.testimonials .client-holder p{
	font-weight:600;
	color:#b32200;
	font-style:italic;
	text-align:right;
	padding:15px 0px;
}
.testimonials .client-holder span a{
	font-style:normal;
	color:#803d14;
	display:block;
	text-align:right;
	font: 13px 'Open Sans', sans-serif;
	font-weight:600;
	
}

   .quote span{
	   padding:5px;
	   text-align:center;
	   
   }
   .quote:before {  
        content: " ";  
        background: url(../images/block-quote-before.png) 0% 0% no-repeat;  
        left:14px;
        position:absolute;
        height: 25px;  
        width: 25px;
    }  
    .quote span:after {  
        content: " ";  
        
        background: url(../images/block-quote-after.png) right bottom no-repeat;  
       position:absolute;  
        height: 25px;  
        width: 25px;
    }    
	.view-all a {
    background: none repeat scroll 0 0 #de563f;
    color: #fff;
    display: inline-block;
    font: 18px 'Open Sans', sans-serif;
    padding: 8px 15px;
    transition: all 200ms ease-in-out 0s;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:600;
}
.view-all a:hover {
    background: none repeat scroll 0 0 #ce3920;
    text-decoration: none;
	
}
	 	/*-------------------Testimonial End--------------*/
		
		
		
		 	/*-------------------Contact Page--------------*/	
		
.contact{

width:100%;
max-width:580px;
/*margin-top:80px;*/
}

.contact form input{

width:70%;
height:40px;
margin-bottom:20px;
margin-left:5px;
padding:10px;
float:left;
background-color:#fff;
border-radius:3px;
border:1px #dedede solid;

}

.contact form label{
float:left;
color:#e8e8e8;
font-weight:normal;
font-size:18px;
width:25%;
padding-top:10px;
text-transform:uppercase;
font-weight:600;
}
.contact form label span{
color:#d2553f;

}
 
.contact form  small{
color:#8f9196;
font-size:12px;
}
.contact form textarea{
width:70%;
height:110px;
margin-bottom:12px;
padding:10px;
float:left;
background-color:#fff;
border-radius:3px;
border:1px #dedede solid;
margin-left:5px;

}

.contact .submit-btn {
    background: none repeat scroll 0 0  #de563f;
    border: medium none;
    color: #fff;
    float: left;
    font-size:18px;
    height: 40px;

    margin-left:5px;
    padding:0px;
    width: 109px;
}	

.contact .required{
	font-size:12px;
	padding-right:5px;
}
label .required{
	font-size:13px;
}
/*-------------------Contact Page End--------------*/		
		
		
		
		
/*-------------------Checkout Page --------------*/		


.checkout{
	
	margin:0px;
	padding:0px 0px 0px 0px;
}
.checkout h1{
	font-size:20px;
	font-weight:600;
	color:#fff;
	text-transform:uppercase;
	border-bottom:2px #fff solid;
	padding-bottom:15px;
	margin-bottom:20px;
}
.checkout h2{
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	margin:20px 0px 20px 0px;
	width:100%;
	float:left;
}
.checkout h3{
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	margin:20px 0px 20px 20px;
	width:100%;
	float:left;
}

.checkout small {
    color: #e8e8e8;
    font-size: 14px;
	padding-left:20px;
	
}
.billing input{

width:100%!important;
height:40px;
margin-bottom:23px;
margin-left:10px!important;
padding:10px;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;

}
.address input{

width:65%!important;
height:40px;
margin-bottom:23px;
margin-left:4px!important;
padding:10px;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;

}
.checkout form input{
 color: #646464;
width:65%;
height:40px;
margin-bottom:23px;
margin-left:5px;
padding:10px;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;

}

.checkout form label{
float:left;
color:#e8e8e8;
font-weight:700;
font-size:15px;
width:29%;
padding-top:10px;
text-transform:uppercase;
}
.checkout form label span{
color:#de563f;
font-weight:700;
}

.checkout form  small{
color:#8f9196;
font-size:12px;
}
.checkout form textarea{
width:70%;
height:110px;
margin-bottom:20px;
padding:10px;
float:left;
background-color:#fff;
border-radius:3px;
border:1px #dedede solid;
margin-left:5px;

}
.top{
	margin-top:60px;
}

.control{
	margin-left:28%;
}
.control input{
width:4%!important;
float:left;
margin:0px 0px 0px 17px!important;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;
position:relative;
top:-9px;
	
}
.control label{
float:left;
color:#e8e8e8;
font-weight:normal!important;
font-size:14px;
width:80%!important;
padding-top:10px;
text-transform:capitalize!important;
margin:0px;
padding:0px 0px 0px 5px!important;
}





	.country-sort {
    width: 65%;
	float:left;
}
.country-sort select {
    -moz-appearance: none;
    border: 1px solid #c5c3c3;
    padding-left: 15px;
    text-indent: 0.01px;
    text-overflow: "";
	
}
.country-sort select option {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
}
.country-sort select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 0px;
    height:40px;
    margin-left:5px;
	margin-bottom:23px;
    width: 100%;
	color:#646464;
	font-size:14px;
	padding:10px;
	border-radius:5px;
	 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.country-sort select option {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    border-radius: 0;
    height: 35px;
	color:#000;
	font-size:14px;
}


	.country-sort-1 {
	float:left;
	width:46%;
}

.country-sort-2 .validation-advice{
	margin:0px!important;
}

.country-sort-1 .validation-advice{
		margin:0px!important;
}
.country-sort-1 select {
    -moz-appearance: none;
    border: 1px solid #c5c3c3;
    padding-left: 15px;
    text-indent: 0.01px;
    text-overflow: "";
	
}
.country-sort-1 select option {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
}
.country-sort-1 select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 0px;
    height:40px;
    margin-left:5px;
	margin-bottom:23px;
    width: 100%;
	color:#646464;
	font-size:13px;
	padding:10px;
	border-radius:5px;
	 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.country-sort-1 select option {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    border-radius: 0;
    height: 35px;
	color:#000;
	font-size:14px;
}





.country-sort-2 {
	float:left;
	width:95%;
}
.country-sort-2 select {
    -moz-appearance: none;
    border: 1px solid #c5c3c3;
    padding-left: 15px;
    text-indent: 0.01px;
    text-overflow: "";
	
}
.country-sort-1 select option {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
}
.country-sort-2 select {
    -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 0px;
    height:40px;
    margin-left:5px;
	margin-bottom:23px;
    width: 100%;
	color:#646464;
	font-size:13px;
	padding:10px;
	border-radius:5px;
	 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.country-sort-2 select option {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    border-radius: 0;
    height: 35px;
	color:#000;
	font-size:14px;
}






.radio-class{
	font-size:14px;
	color:#e8e8e8;
	width:100%;
	font-weight:normal !important;
	text-transform:capitalize!important;
}
.paymethod input{
	width:3%!important;
}
.form-list input{
	width:46%!important;
}

.form-list label{
	width:30%!important;
}
@media only screen and (max-width: 767px) {
  #info-testy-create .form-list label{
	  width:100%!important;
  }
}
#info-testy-create .form-list .btn-block{
  margin-bottom: 10px;
}
.discount{
	background:#ebddc0;
	padding:10px 25px 25px 25px;
	border-radius:5px;
	float:left;
	max-width:320px;
	margin-bottom:25px;
	margin-top:25px;
	}
	
	.discount h2 {
    color: #b32200;
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
    text-transform: uppercase;
    width: 100%;
	border-bottom: 1px #d09f5d solid;
	padding-bottom:10px;
	margin-bottom:20px;
}
	
	
.discount .discount-form {
    margin: 0;
    padding: 0;
    width: 100%;
	float:left;
}

.discount .discount-form  .input-box {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width:72%;
}
.discount .discount-form  .input-box input {
    background: none repeat scroll 0 0 #fff;
    color: #959595;
    display: block;
    font: 12px "Open Sans";
    height: 30px;
    margin:1px 0px 0px 0px;
    padding: 0 0 0 10px;
	width:100%;
	height: 37px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius:0px!important;
	border-top-right-radius: 0px!important;
	border-color:#fff;

}
.discount .discount-form  .apply_button {
    background: none repeat scroll 0 0 #803d14;
	 border-bottom-left-radius: 2px;
	  border-top-left-radius: 2px;
    color: #fff;
    cursor: pointer;
    font: 13px/36px "Open Sans";

    height: 40px;
    padding:0px;
    text-align: center;
    width: 28%;
	float:left;
	text-transform:uppercase;
	margin:0px;
	
}
	
	
   .order-review{
	background:#ebddc0;
	padding:10px 25px 25px 25px;
	border-radius:5px;
	float:left;
	max-width:500px;
	border:1px #cccccc solid;
	width:100%;
	margin-bottom:50px;
	margin-left:20px;
	
	}	
	


.itembox .item_row {
    padding: 15px 0px 0px 0px;
    width: 100%;
	border-bottom:1px #d09f5d solid;
}


.itembox .boxhead {
    color: #000;
    display: block;
    float: left;
    font: bold 16px "Open Sans" !important;
    margin: 0;
    padding: 15px 0px 0px 0px;
    text-decoration: none;
    text-transform: capitalize;
    width: 16%;
}
.itembox .boxhead:first-child {
    width: 35%;
}
.itembox .boxhead:last-child {
    width:17%;
}
.itembox .boxrow {
    color: #000;
    display: block;
    float: left;
    font: normal 16px "Open Sans" !important;
    margin: 0;
    padding: 0 0px 15px 0px;
    text-decoration: none;
    text-transform: capitalize;
    width: 16%;
	
}
.itembox .boxrow:first-child {
   width:35% !important;
   color:#b32200;
   font-weight:600!important;
   font: normal 16px "Open Sans" !important;
   text-transform:capitalize!important;
}
.itembox .boxrow h3{
   width:48% !important;
   color:#b32200;
   font-weight:600!important;
   font: normal 16px "Open Sans" !important;
   text-transform:capitalize!important;
}

.itembox .boxrow:last-child {
    width:16% !important;
	color:#b32200;
	font-weight:600;
	padding-left:15px;
}
.itembox .total{
	width:66%;
	float:right
	}
.itembox .item_row .totaltitle{
    color: #000;
    display: block;
    float: left;
    font: normal 16px "Open Sans" !important;
    margin: 0;
    padding: 0 0px 10px 0px;
    text-decoration: none;
    width:66%;

}
.itembox .item_row .totaltitle strong{
	text-transform:uppercase;
}

.itembox .item_row .totalval{
	color: #000;
	font: normal 16px "Open Sans" !important;
	
}
.total span{
	font-weight:bold;
	
}


.control-newsletter input{
width:5%!important;
float:left;
margin:25px 5px 0px 0px!important;
float:left;
background-color:#fff;
border-radius:5px;
border:1px #dedede solid;
	
}
.control-newsletter label{
float:left;
color:#000;
font-weight:normal!important;
font-size:14px;
width:84%!important;
padding-top:10px;
text-transform:capitalize!important;
margin:20px 0px 0px 0px;
padding:0px 0px 0px 5px!important;
}
.control-newsletter p{
	color:#000;
	width:98%!important;
	font-size:14px;
	margin:20px 0px 0px 0px;
}

.placeorder_button{
    background: none repeat scroll 0 0 #de563f;

    color: #fff;
    display: inline-block;
    font: 18px "Open Sans",sans-serif;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
	border:0px;
	border-radius:4px;
	text-align:center;
	width:270px;
	margin:15px 0px 0px 0px;
}

.placeorder_button:hover{
    background: none repeat scroll 0 0 #ce3920;
  
}
.price-box1 .price-box{
	margin-top:20px!important;
}
.price-box1 .regular-price span{
  float:left;
  display:inline-block !important;
}

.short-desc h5{
	font:500 18px/25px 'Open Sans', sans-serif;
	text-transform:uppercase;
	width:100%;
	float:left;
	color:#fff;
}

.short-desc h3{
	font:500 16px 'Open Sans', sans-serif;
	text-transform:capitalize;
	width:100%;
	float:left;
	color:#e8e8e8;
}

.short-desc p{
	font:400 15px 'Open Sans', sans-serif;
	width:100%;
	float:left;
	color:#e8e8e8;
	margin:0px;
	padding:0px;
}

.product-options-bottom2 .price-box .pricelabel{
	display:block;
}

.product-options-bottom2 span{
	font-weight:normal!important;
}

.product-options-bottom2 .price-box .price {
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: bold!important;
    margin: 0;
    padding:7px 0 0 5px;
}
.product-options-bottom2 .price-box{
display:none;
}

.product-options-bottom2 .pro-qty{
	margin:0px;
}

#shopping-cart-totals-table .totaltitle{
    color: #555049;
    display: block;
    float: left;
    font: normal 16px "Open Sans" !important;
    margin: 0;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
}

#shopping-cart-totals-table .totaltitle srtrong{
	 font: 18px "Open Sans" !important;
	 font-weight:600;

	 color:#000;
	

}
#shopping-cart-totals-table .totalval{
	color: #000;
	font: normal 16px "Open Sans" !important;
	
}
#shopping-cart-totals-table .totalval strong span{
	
	 font:18px "Open Sans" !important;
	 font-weight:600 !important;
	 color:#000;
}

.total span{
	font-weight:normal;
	
}
 .totalval strong span {
	 font-weight:bold;
	 margin:0px;
	 float:left;
 }
  .checkout-types.bottom .placeorder_button {
  margin:0px;
  }
  .responsive-delete{
	  display:none
  }
  .resheader-cart{
	  display:none
  }
  .mcodes{
	  width:100%;
	  float:left;
  }
   .mcodes input{
	   margin:3px 0px 0px 5px!important;
	    padding:0px!important;
	   
   }
     .mcodes label{
		 width:40%!important;
	 }
   .dropdown{
	   display:block!important;
   }
   .push-menu{
   float:right;
  
   }
   
   .navbar-header{
    display:none;
   }

#newsletter-validate-detail .validation-advice{
  
  margin:5px 112px 0 0px !important;
}

#search_mini_form .validation-failed{
  border:1px solid #ff0000;
}

.login-trigger{
	cursor:pointer;
}/* CSS Document */

.addtocart {
	cursor:pointer;
}

.top-account {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    float: left;
    font: 600 14px "Open Sans";
    padding: 6px 10px 0;
    text-transform: uppercase;
}
.edit-btn{
	position:relative;
	top:0px;
	left:0px;
}
.accountmenu{
	display:inline-block !important;
}
.truncated{
	display:none;
}
.category-block a{
	color:#a8a196
}

.category-block a:hover{
	color:#d09f5d
}

.opc-wrapper-opc .validation-advice{background:none;padding-left:28%;color:#ff0000;float:left;}
.v-fix .validation-advice {
  clear: both;
  color: #ff0000;
  display: block;
  float: left;
  font-size: 13px;margin:0px;
  /* margin: 4px 0 0 41%; */
}

.contact .validation-advice {
    clear: both;
    color: #ff0000;
    display: block;
    float: left;
    font-size: 13px;
    margin:0px 0 0 27%;
}

.order-details {
	border: 1px solid #f1f1f1;
	padding:5px;
	margin-bottom:10px;
	
}
.order-details table {
 border-top: 1px solid #f1f1f1;	
}
#my-orders-tablediv{
	display:none;
}

 .tablehead{font: 14px "Open Sans" !important;
    margin: 15px 0px;
    vertical-align: top;
	line-height:32px;
	color:#e8e8e8;
	width:100%;
	display:block;
 }
.block-content .actions  .btn-cart, .btn-share, .btn-add, .btn-update {
	    background: none repeat scroll 0 0#65300f!important;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    display: block;
    height: 37px;
    margin: 0 0 15px 5px!important;
    padding: 0;
    text-align: center;
    width: 100px;
	
    float: right;
}
.btn-update {
	    background: none repeat scroll 0 0#65300f!important;
    border: 0 none;
    border-radius: 3px;
    color: #fff!important;
    display: block;
    height: 37px;
    margin: 0 0 15px 5px!important;
    padding: 0!important;
    text-align: center;
    width: 100px;
    float: right;
}

#wishlist-table td.customer-wishlist-item-cart .btn-cart {
	    background: none repeat scroll 0 0#65300f!important;
    border: 0 none;
    border-radius: 3px;
    color: #fff!important;
    display: block;
    height: 37px;
    margin: 0 0 15px 5px;
    padding: 0!important;
    text-align: center;
    width: 100px;
  
}
#wishlist-table td.customer-wishlist-item-cart .link-edit{
    border: 1px solid #e8e8e8;
    color: #e8e8e8;
    float: right;
    font: 400 12px/25px "Open Sans",sans-serif;
    margin: 0 20px 0 0;
    padding: 0 15px;
    text-transform: capitalize;
	display:none;
}
#wishlist-table{
	color: #e8e8e8;
}
#wishlist-table input.qty {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b6b6b6;
    border-radius: 6px;
    color: #555555;
    font: 500 18px "Open Sans";
    height:30px;
    padding: 6px;
    text-align: center;
    width: 2em !important;
}
.block-content p{
	padding-left:15px;
}

.pager{
 border: 1px dotted #f1f1f1;
    margin: 5px 0;
    padding: 3px 5px 0;
}
.count-container .no-pages{
	float:left;
	width:50%;
	margin:0px;
	padding:0px;
	text-align:left;
	font:400 16px/25px 'Open Sans', sans-serif;
	color:#e8e8e8;
}
.count-container .limiter{
	float:right;
	width:17%;
	font:400 16px/25px 'Open Sans', sans-serif;
	color:#e8e8e8;
	text-align:right;
}

.count-container .limiter label {
    display: block;
}

.count-container .limiter label {
    display: block;
    float: left;
    width: 25%;
}

.count-container .limiter select{
 -moz-appearance: none;
    background-color: #fff;
    background-image: url("../images/dropdown.png");
    background-position: 90% center;
    background-repeat: no-repeat;
    border: 1px solid #c5c3c3;
    border-radius: 0px;
    margin-left:5px;
    width: 50%;
	color:#646464;
	font-size:13px;
	padding:3px;

}

.account-create .validation-advice {
    clear: both;
    color: #ff0000;
    display: block;
    font-size: 13px;
    margin: 4px 0 0 10px;
	float:none;
}



#facacc {
    float: left;
    height: auto !important;
    margin: 0;
    padding: 0 0 30px;
    width: 100%;
}
#facacc .question {
    cursor: pointer;
    float: left;
    height: auto !important;
    margin: 25px 0 0;
    padding: 0;
    width: 100%;
}
#facacc .question h3 {
     color: #e8e8e8;
    float: left;
   font:400 16px/24px 'Open Sans', sans-serif;
    margin: 0;
    padding: 0 0 0 10px;
    text-transform: none;
    width: 94%;
}
#facacc .question span.ui-icon-triangle-1-s {
    background: url("../images/icon-minus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 17px;
    margin: 3px 0 0;
    padding: 0;
    width: 16px;border-radius:3px;
}
#facacc .question span.ui-icon-triangle-1-e {
    background: url("../images/icon-plus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 17px;
    margin: 3px 0 0;
    padding: 0;
    width: 16px;border-radius:3px;
}
#facacc .answer {
    color:#e8e8e8;
    float: left;
    font:400 14px/24px 'Open Sans', sans-serif;
    height: auto !important;
    margin: 0;
    padding: 15px 0 0 0px;
    width: 100%;
}


.sitempan .smh2 {
    border-bottom: 1px solid #e1e1e1;
    display: block;
    font-size: 1.2em;
    padding: 10px 0px 8px  0;

}
.sitempan .siteul{
	width:100%;
}
.sitempan .siteul ul {
   float: left;
    list-style: outside none none;
    margin: 5px;
    padding: 0;
    width: 45%;
}
.sitempan .siteul  ul li {
  background-image: url("../images/bullet.png");
    background-position: 0 7px;
    background-repeat: no-repeat;
    color: #e8e8e8;
    float: left;
    font: 400 15px "Open Sans",sans-serif;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 100%;
}

.sitempan .siteul  ul li a {
	font: 400 15px "Open Sans",sans-serif;
	 color: #e8e8e8;
	
	
}
.sitecatul{
	width:100%!important;
	margin:0px;
	padding:0px;
}
.sitecatul li.cat {
    display: block;
    float: left;
    font-size: 1em !important;
    list-style: outside none none;
    margin: 0 0 10px;
	padding:0px 0px 10px 0px!important;
    width: 45%!important;
	background:none!important;
	
}
.about ul {
    padding: 0px;
    margin: 0px;
}

.about ul li {
    padding-left: 15px; 
	color:#fff;
	background-image: url("../images/bullet.png");
	background-repeat:no-repeat;
	background-position:0px center;
	
}

.catalog-product-view .product-options {
  width: 100%;
  margin: 0px 0 0 0px!important;
  padding:0px!important;
  /* padding: 20px 0px 0px; */
  /* border: 1px solid #cccccc; */
  clear: both;
  position: relative;
}
 .catalog-product-view .pro-qty {
    float: left;
    margin: 0px 0 0 !important;
    padding: 0;
    width: 100%;
}
 .checkout-cart-configure .pro-qty {
    float: left;
    margin: 0px 0 0 !important;
    padding: 0;
    width: 100%;
}
.checkout-cart-configure .product-options {
  width: 100%;
  margin: 0px 0 20px 0px!important;
  padding: 0px!important;
  /* padding: 20px 0px 0px; */
  /* border: 1px solid #cccccc; */
  clear: both;
  position: relative;
}
.top-menus{
	width:100%;
}
.customer-account-resetpassword .validation-advice {
    clear: both;
    color: #ff0000;
    display: block;
    float: none;
    font-size: 13px;
    margin: 4px 0 0 0;
}
#advanced-search-list {color:#fff;}
#info-testy-create{
  text-align: left;
}
#info-testy-create .form-list label{
  /* width: auto !important;*/
}
#info-testy-create .form-list .field,
#info-testy-create .form-list .fields{
  overflow: hidden;
  clear: both;
}
#info-testy-create .form-list input{
  width: 100% !important;
}
#info-testy-create .validation-advice{
  margin-left: 0;
}
#info-testy-create .page-title h1{
  color: #b32200;
  padding-bottom: 15px;
  border-bottom: 1px solid #d09f5d;
  margin: 0 0 15px;
}
.shop-continue{
  height:30px;
  font: 13px/15px "Open Sans";
  padding: 0 15px;
}
/* CSS Document */











